<div class="content-stack">

   <app-audit-log-review-data-options
      [initialDataOptions]="initialDataOptions"
      [usernames]="labGroupUsernames$ | async"
      (optionsChanged)="reloadEntries($event)">
   </app-audit-log-review-data-options>

   <div class="entries-list">
      <app-audit-log-entry *ngFor="let entry of analyzedAuditLogEntries$ | async"
         [analyzedEntry]="entry"
         [showSampleMetadata]="true"
         [showTestMetadata]="true">
      </app-audit-log-entry>
   </div>

</div>
