@import '../common-test-stage-styles';

.area {
   margin: 5px 20px 5px 5px;
}

.sampling-method {
   display: flex;
   flex-flow: column nowrap;
   align-items: flex-start;
   border: 2px solid #eee;
   padding: 5px 10px;

   .title-row {
      .title {
         font-weight: bold;
         font-size: 110%;
         margin-right: 30px;
      }
   }

   .sampling-method-numbers {
      display: flex;
      flex-flow: row wrap;
      mat-form-field {
         margin-right: 10px;
      }
   }
   .exceptions {
      width: 100%;
      align-items: flex-start;
      mat-form-field {
         width: 97%;
      }
   }
}

.row {
   display: flex;
   flex-flow: row wrap;
   align-items: center;

   button.toggle-select {
      mat-icon {
         font-size: smaller;
      }
   }

   .apply-resources-btn {
      background-color: $batch-resource-background-color;
      margin-left: 10px;
   }

   app-field-assigned-resources {
      width: 100%;
   }

   .field-area {
      font-size: 90%;
      .mat-form-field {
         width: 150px !important;
      }
      &.medium-type {
         margin-right: 0;
      }
   }

   .medium-type-predefined-inputs {
      display: flex;
      flex-flow: column nowrap;
      margin: 0 10px 0 0;
      font-size: smaller;
   }

}

.bottom-bar {
   display: flex;
   flex-flow: row nowrap;
}
