<mat-expansion-panel [formGroup]="form">

   <mat-expansion-panel-header>
      <app-isolate-slant-stage-view
         [form]="form"
         [includeOxidase]="includeOxidase">
      </app-isolate-slant-stage-view>
   </mat-expansion-panel-header>

   <ng-template matExpansionPanelContent>
      <div class="sections-row">

         <div class="field-column">
            <div class="section-label" matTooltip="colony appearance">App</div>
            <mat-button-toggle-group formControlName="colonyAppearance"
                                     matTooltip="colony appearance" vertical>
               <mat-button-toggle [value]="'T'">T</mat-button-toggle>
               <mat-button-toggle [value]="'NT'">NT</mat-button-toggle>
               <mat-button-toggle [value]="'AT'">AT</mat-button-toggle>
               <mat-button-toggle [value]="'NG'">NG</mat-button-toggle>
               <mat-button-toggle *ngIf="showUnsetAffordances" class="unset" [value]="null">
                  unset
               </mat-button-toggle>
            </mat-button-toggle-group>
         </div>

         <div class="field-column">
            <div class="section-label">TSI</div>
            <app-isolate-slant-tube-editor
               [form]="form.get('tsiTubeTest')"
               [allowDataChanges]="allowDataChanges"
               [tubeType]="'TSI'"
               [isolateDescription]="isolateDescription"
               [showUnsetAffordances]="showUnsetAffordances">
            </app-isolate-slant-tube-editor>
         </div>

         <div class="field-column">
            <div class="section-label">LIA</div>
            <app-isolate-slant-tube-editor
               [form]="form.controls['liaTubeTest']"
               [allowDataChanges]="allowDataChanges"
               [tubeType]="'LIA'"
               [isolateDescription]="isolateDescription"
               [showUnsetAffordances]="showUnsetAffordances">
            </app-isolate-slant-tube-editor>
         </div>

         <div class="field-column">
            <div class="section-label" matTooltip="urea">Ur</div>
            <mat-button-toggle-group formControlName="ureaDetection"
                                     matTooltip="urea" vertical>
               <mat-button-toggle [value]="true">+</mat-button-toggle>
               <mat-button-toggle [value]="false">&minus;</mat-button-toggle>
               <mat-button-toggle *ngIf="showUnsetAffordances" class="unset" [value]="null">
                  unset
               </mat-button-toggle>
            </mat-button-toggle-group>
         </div>

         <div class="field-column">
            <div class="section-label" matTooltip="oxidase">Ox</div>
            <mat-button-toggle-group formControlName="oxidaseDetection"
                                     matTooltip="oxidase" vertical>
               <mat-button-toggle [value]="true">+</mat-button-toggle>
               <mat-button-toggle [value]="false">&minus;</mat-button-toggle>
               <mat-button-toggle *ngIf="showUnsetAffordances" class="unset" [value]="null">
                  unset
               </mat-button-toggle>
            </mat-button-toggle-group>
         </div>

      </div>
   </ng-template>

</mat-expansion-panel>


