<div class="main-row" [formGroup]="form">

   <div class="tube-label">{{tubeType}}</div>

   <div class="field-area" [ngClass]="slantValueCssClass">
      <mat-select class="select-field" formControlName="slant" matTooltip="slant" (valueChange)="onSlantChanged($event)">
         <mat-option [value]="null"></mat-option>
         <mat-option *ngFor="let v of slantValues" [value]="v">{{v}}</mat-option>
      </mat-select>
   </div>

   <div class="field-area" [ngClass]="buttValueCssClass">
      <mat-select class="select-field" formControlName="butt" matTooltip="butt" (valueChange)="onButtChanged($event)">
         <mat-option [value]="null"></mat-option>
         <mat-option *ngFor="let v of buttValues" [value]="v">{{v}}</mat-option>
      </mat-select>
   </div>

   <div class="field-area">
      <mat-select class="select-field" formControlName="h2s" matTooltip="H2S">
         <mat-option [value]="null"></mat-option>
         <mat-option [value]="true">+</mat-option>
         <mat-option [value]="false">&minus;</mat-option>
      </mat-select>
   </div>

   <div class="field-area">
      <mat-select class="select-field" formControlName="gas" matTooltip="gas">
         <mat-option [value]="null"></mat-option>
         <mat-option [value]="true">+</mat-option>
         <mat-option [value]="false">&minus;</mat-option>
      </mat-select>
   </div>

</div>
