<div class="field-stacks-row" [formGroup]="form">

   <div class="field-column">
      <mat-button-toggle-group formControlName="slant" matTooltip="slant" vertical>
         <mat-button-toggle *ngFor="let v of slantValues" [value]="v">{{v}}</mat-button-toggle>
         <mat-button-toggle *ngIf="showUnsetAffordances" class="unset" [value]="null">unset</mat-button-toggle>
      </mat-button-toggle-group>
   </div>

   <div class="field-column">
      <mat-button-toggle-group formControlName="butt" matTooltip="butt" vertical>
         <mat-button-toggle *ngFor="let v of buttValues" [value]="v">{{v}}</mat-button-toggle>
         <mat-button-toggle *ngIf="showUnsetAffordances" class="unset" [value]="null">unset</mat-button-toggle>
      </mat-button-toggle-group>
   </div>

   <div class="field-column">
      <mat-button-toggle-group formControlName="h2s" matTooltip="H2S" vertical>
         <mat-button-toggle [value]="true">+</mat-button-toggle>
         <mat-button-toggle [value]="false">&minus;</mat-button-toggle>
         <mat-button-toggle *ngIf="showUnsetAffordances" class="unset" [value]="null">unset</mat-button-toggle>
      </mat-button-toggle-group>
   </div>

   <div class="field-column">
      <mat-button-toggle-group formControlName="gas" matTooltip="gas" vertical>
         <mat-button-toggle [value]="true">+</mat-button-toggle>
         <mat-button-toggle [value]="false">&minus;</mat-button-toggle>
         <mat-button-toggle *ngIf="showUnsetAffordances" class="unset" [value]="null">unset</mat-button-toggle>
      </mat-button-toggle-group>
   </div>

</div>
