<mat-card class="sample">

   <div class="sample-metadata">

      <div class="sample-metadata-row">

         <div class="product-name">{{sample.productName}}</div>

         <div class="sample-pac-stack">
            <div>
               <span class="field-label"></span>
               <span class="field-value">{{sample.sampleNumber}}</span>
            </div>
            <div>
               <span class="field-label">pac: </span>
               <span class="field-value">{{sample.pac}}</span>
            </div>
         </div>

         <div class="facts-status-stack" [ngClass]="factsStatusCssClass">
            <div>{{sample.factsStatus}}</div>
            <div class="facts-status-date">@{{sample.factsStatusDate}}</div>
         </div>

         <div class="employee-assignments">
            <span  class="assigned-employee" *ngFor="let assignment of sample.assignments">
               <mat-icon>assignment_ind</mat-icon>
               <span *ngIf="assignment.lead && sample.assignments.length > 1">*</span>
               <span class="assigned-employee-name" [ngClass]="{'lead-employee-name': assignment.lead}">
                  {{assignment.employeeShortName}}
               </span>
            </span>
         </div>

         <div *ngIf="sample.lid">
            <span class="field-label">lid: </span>
            <span class="field-value">{{sample.lid}}</span>
         </div>
         <div *ngIf="sample.paf">
            <span class="field-label">paf: </span>
            <span class="field-value">{{sample.paf}}</span>
         </div>

         <div class="received-from-stack">
            <div *ngIf="sample.receivedDate">
               <span class="field-label">rcvd: </span>
               <span class="field-value">{{sample.receivedDate}}</span>
            </div>
            <div *ngIf="sample.samplingOrganization">
               <span class="field-label">from: </span>
               <span class="field-value">{{sample.samplingOrganization}}</span>
            </div>
         </div>

         <div class="expanding-flex-space"></div>

         <div *ngIf="showTestsAndResourcesSummaryInSampleMetadata" class="num-tests-and-resource-lists-stack">
            <span>{{sample.tests.length}} test{{sample.tests.length != 1 ? 's' : ''}}</span>
            <span>{{numAssociatedResourceLists}} resource list{{numAssociatedResourceLists != 1 ? 's' : ''}}</span>
         </div>

         <button mat-button color="accent" *ngIf="(hasTestsOrResources || hasExtendedSampleMetadata) && showTestsAndResourcesToggle"
                 (click)="onTestsAndResourcesToggleRequest()">
            {{showTestsAndResources ? 'hide' : 'show'}} details
         </button>
      </div> <!-- Ends first row of sample metadata. -->

      <!-- Second row of sample metadata which might be longer or less often needed than that of the first row. -->
      <div class="sample-metadata-row" *ngIf="hasExtendedSampleMetadata && (showTestsAndResources || showExtendedSampleMetadataAlways)">
         <div *ngIf="sample.subject">
            <span class="field-label">subject: </span>
            <span class="field-value">{{sample.subject}}</span>
         </div>
      </div>
   </div>

   <!-- tests and associated lab resources area -->
   <div *ngIf="showTestsAndResources">

      <div class="test-metadatas">
         <app-test-metadata *ngFor="let test of sample.tests"
            [test]="test"
            (testClick)="onTestClicked(test)"
            (stageClick)="onTestStageClicked($event)">
         </app-test-metadata>
      </div>

      <div class="associated-lab-resource-lists" *ngIf="numAssociatedResourceLists > 0">
         <span class="label">Associated Lab Resources: </span>
         <mat-chip-list>
            <mat-chip *ngFor="let resourceList of sample.associatedUnmanagedResourceLists" class="resource-list">
               <span class="items-count">{{resourceList.resourcesCount}} items</span>
               <span class="list-name">{{resourceList.listName}}</span>
            </mat-chip>
         </mat-chip-list>
      </div>

   </div>

</mat-card>
<div *ngIf="showTestsAndResources" class="extra-bottom-spacing"></div>
