<mat-card class="sample">

   <div class="sample-metadata" (click)="onHeaderClick()">

      <div class="sample-metadata-row">

         <div class="product-name">{{sampleOp.productName}}</div>

         <div class="sample-pac-stack">
            <div>
               <span class="field-label">sample: </span>
               <span class="field-value">
                  {{sampleOp.sampleTrackingNumber}}-{{sampleOp.sampleTrackingSubNumber}}
               </span>
            </div>
            <div>
               <span class="field-label">pac: </span>
               <span class="field-value">{{sampleOp.pac}}</span>
            </div>
         </div>

         <div class="op-lid-paf-stack">
            <div>
               <span class="field-label">op: </span>
               <span class="field-value">{{sampleOp.opId}}</span>
            </div>
            <div class="lid-paf-row">
               <div class="lid" *ngIf="sampleOp.lid">
                  <span class="field-label">lid: </span>
                  <span class="field-value">{{sampleOp.lid}}</span>
               </div>
               <div *ngIf="sampleOp.paf">
                  <span class="field-label">paf: </span>
                  <span class="field-value">{{sampleOp.paf}}</span>
               </div>
            </div>
         </div>

         <div class="facts-status-stack" [ngClass]="factsStatusCssClass" *ngIf="factsStatusText != null">
            <div>{{factsStatusText}}</div>
            <div class="facts-status-timestamp">{{displayFactsStatusTimestamp}}</div>
         </div>

         <div class="employee-assignments" *ngIf="showEmployeeAssignments">
            <mat-icon>person_outline</mat-icon>
            <div class="employee-assignment-stack" *ngFor="let assignment of sampleOp.assignments">
               <div class="employee-assignment-role">
                  {{assignment.userShortName || assignment.firstName + ' ' + assignment.lastName}}
                  <sup *ngIf="assignment.leadInd === 'Y'">*</sup>
               </div>
               <div>{{assignment.workAssignmentDate}}</div>
            </div>
         </div>

         <div class="expanding-flex-space"></div>

         <div *ngIf="showAssociatedItemsSummaryInSampleMetadata" class="nums-associated-items-stack">
            <span *ngIf="sampleOp.tests">{{sampleOp.tests.length}} test{{sampleOp.tests.length != 1 ? 's' : ''}}</span>
         </div>

         <div class="refreshed-from-facts-timestamp-stack" *ngIf="refreshedFromFacts != null">
            <span>from FACTS at</span>
            <span class="last-refreshed-from-facts-timestamp">
               {{refreshedFromFacts}}
            </span>
         </div>

      </div> <!-- Ends first row of sample metadata. -->

      <!-- Second row of sample metadata which might be longer or less often needed than that of the first row. -->
      <div class="sample-metadata-row" *ngIf="showAssociatedItems || showExtendedSampleMetadataAlways">
         <div *ngIf="sampleOp.subject">
            <span class="field-label">subject: </span>
            <span class="field-value">{{sampleOp.subject}}</span>
         </div>
      </div>
   </div>

   <!-- tests and any other associated lab resources area -->
   <div *ngIf="showAssociatedItems">

      <div class="tests" *ngIf="sampleOp.tests">

         <div class="test-area" *ngFor="let test of sampleOp.tests">

            <button class="delete" mat-icon-button type="button"
                    *ngIf="allowDataChanges && allowTestDeletion"
                    (click)="promptDeleteTest(test)">
               <mat-icon>remove_circle_outline</mat-icon>
            </button>

            <app-test
               [test]="test"
               [sampleOp]="sampleOp"
               [allowDataChanges]="allowDataChanges"
               [labGroupTestTypes]="labGroupTestTypes"
               (testClick)="onTestClicked($event)"
               (testStageClick)="onTestStageClicked($event)"
               (attachedFilesClick)="onAttachedFilesClicked($event)"
               (reportsClick)="onTestReportsClicked($event)">
            </app-test>

         </div>

      </div>

      <div class="sample-actions">
            <button mat-button type="button"
                    *ngIf="allowDataChanges && allowTestCreation && labGroupTestTypes.length > 0"
                    (click)="promptCreateTest()">
               <mat-icon>add</mat-icon>
               Create test
            </button>
      </div>

   </div>

</mat-card>
<div *ngIf="showAssociatedItems" class="extra-bottom-spacing"></div>
