<mat-card class="sample">

   <div class="sample-metadata" (click)="onHeaderClick()">

      <div class="sample-metadata-row">

         <div class="product-name">{{sampleOp.productName}}</div>

         <div class="sample-pac-stack">
            <div>
               <span class="field-value">
                  {{sampleOp.sampleTrackingNumber}}-{{sampleOp.sampleTrackingSubNumber}}
               </span>
            </div>
            <div>
               <span class="field-label">pac: </span>
               <span class="field-value">{{sampleOp.pac}}</span>
            </div>
         </div>

         <div class="facts-status-stack" [ngClass]="factsStatusCssClass" *ngIf="factsStatusText != null">
            <div>{{factsStatusText}}</div>
            <div class="facts-status-timestamp">{{displayFactsStatusTimestamp}}</div>
         </div>

         <div class="employee-assignments" *ngIf="showEmployeeAssignments && sampleOp.assignments.length == 1">
            <!-- NOTE: Currently only the current user's assignment is displayed here.
                 If the server eventually delivers assignments for other users in
                 the samples within the lab contents, then add ui support for those
                 assignments here.
            -->
            <div class="employee-assignment-stack" matTooltip="work assignment role and date">
               <div class="employee-assignment-role">
                  <mat-icon>person_outline</mat-icon> {{sampleOp.assignments[0].leadInd === 'Y' ? 'LEAD' : 'AUX'}}
               </div>
               <div>{{sampleOp.assignments[0].workAssignmentDate}}</div>
            </div>
         </div>

         <div class="expanding-flex-space"></div>

         <div *ngIf="showAssociatedItemsSummaryInSampleMetadata" class="nums-associated-items-stack">
            <span>{{sampleOp.tests.length}} test{{sampleOp.tests.length != 1 ? 's' : ''}}</span>
         </div>

         <div class="refreshed-from-facts-timestamp-stack" *ngIf="refreshedFromFacts != null">
            <span>from FACTS at</span>
            <span class="last-refreshed-from-facts-timestamp">
               {{refreshedFromFacts}}
            </span>
         </div>

      </div> <!-- Ends first row of sample metadata. -->

      <!-- Second row of sample metadata which might be longer or less often needed than that of the first row. -->
      <div class="sample-metadata-row" *ngIf="showAssociatedItems || showExtendedSampleMetadataAlways">
         <div>
            <span class="field-label">op: </span>
            <span class="field-value">{{sampleOp.opId}}</span>
         </div>

         <div *ngIf="sampleOp.lid">
            <span class="field-label">lid: </span>
            <span class="field-value">{{sampleOp.lid}}</span>
         </div>

         <div *ngIf="sampleOp.paf">
            <span class="field-label">paf: </span>
            <span class="field-value">{{sampleOp.paf}}</span>
         </div>

         <div *ngIf="sampleOp.subject">
            <span class="field-label">subject: </span>
            <span class="field-value">{{sampleOp.subject}}</span>
         </div>
      </div>
   </div>

   <!-- tests and any other associated lab resources area -->
   <div *ngIf="showAssociatedItems">

      <div class="tests">

         <div class="test-area" *ngFor="let test of sampleOp.tests">

            <button class="delete" mat-icon-button *ngIf="allowDataChanges && allowTestDeletion"
                    (click)="promptDeleteTest(test)">
               <mat-icon>remove_circle_outline</mat-icon>
            </button>

            <app-test-metadata
               [test]="test"
               [allowDataChanges]="allowDataChanges"
               [labGroupTestTypes]="labGroupTestTypes"
               (testClick)="onTestClicked($event)"
               (testStageClick)="onTestStageClicked($event)"
               (attachedFilesClick)="onAttachedFilesClicked($event)"
               (reportsClick)="onTestReportsClicked($event)">
            </app-test-metadata>

         </div>

      </div>

      <div class="sample-actions">
            <button mat-button *ngIf="allowDataChanges && allowTestCreation && labGroupTestTypes.length > 0"
                    (click)="promptCreateTest()">
               <mat-icon>add</mat-icon>
               Create test
            </button>
      </div>

   </div>

</mat-card>
<div *ngIf="showAssociatedItems" class="extra-bottom-spacing"></div>
