/* Angular Material themes */
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
//@import '~@angular/material/prebuilt-themes/pink-bluegrey.css'; // (dark theme)
//@import '~@angular/material/prebuilt-themes/purple-green.css';  // (dark theme)


// Short highlights intended for section headers
.left-highlighted {
   padding: 0;
   background-color: inherit;
   text-align: left;

   .highlight-span {
      padding: 2px 45px 2px 45px;
      background-color: #339;
      color: white;
   }
}

.expanding-flex-space {
   flex-grow: 1;
}

.test-type {
   display: flex;
   flex-flow: column nowrap;
   justify-content: center;
   padding: 14px;
   width: 200px;
   text-align: center;
   border: 3px solid darkgray;
   background: beige;
   font-size: 110%;
   font-weight: bold;
}


