

// Short highlights intended for section headers
.left-highlighted {
   padding: 0;
   background-color: inherit;
   text-align: left;

   .highlight-span {
      padding: 2px 45px 2px 45px;
      background-color: #339;
      color: white;
   }
}
