/* Angular Material themes */
//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
//@import '~@angular/material/prebuilt-themes/pink-bluegrey.css'; // (dark theme)
//@import '~@angular/material/prebuilt-themes/purple-green.css';  // (dark theme)

$batch-resource-background-color: #007a7a;
$batch-resource-text-color: lightyellow;

// Short highlights intended for section headers
.left-highlighted {
   padding: 0;
   background-color: inherit;
   text-align: left;

   .highlight-span {
      padding: 2px 45px 2px 45px;
      background-color: #339;
      color: white;
   }
}

.expanding-flex-space {
   flex-grow: 1;
}

.test-type {
   display: flex;
   flex-flow: column nowrap;
   justify-content: center;
   padding: 14px;
   min-width: 120px;
   text-align: center;
   border: 3px solid darkgray;
   background: beige;
   font-size: 105%;
   font-weight: bold;
}

button.link {
   background:none!important;
   color: blue;
   border:none;
   padding:0!important;
   font: inherit;
   cursor: pointer;
}

button.hover-link {
   background:none!important;
   color: inherit;
   border:none;
   padding:0!important;
   font: inherit;
   cursor: pointer;
   &:hover {
      color: blue;
      text-decoration: underline;
   }
}

//////////////////////////////////////////////////////////////
// Angular Material customizations

//// Horizontal stepper customization - use less space vertically, use more of horizontal space for actual content.
div.mat-horizontal-stepper-header-container {
  margin: 5px 5px 0 5px;
}
mat-step-header {
   height: unset !important;
}
.mat-horizontal-stepper-header {
   padding: unset !important;
}
.mat-stepper-horizontal-line {
   margin: unset !important;
}
//// Eliminate horizontal padding of stepper content.
//mat-horizontal-stepper > .mat-horizontal-content-container {
//   padding: 0 !important;
//}

// Let menu items have their full requested width.
.mat-menu-panel {
   max-width: unset !important;
}

// Make toolbar thinner.
mat-toolbar-row {
   height: unset !important;
}
.mat-toolbar-multiple-rows {
   min-height: unset !important;
}

// Specify more transparency for drop down arrows on select so actual field values stand out more.
.mat-select-arrow {
  color: rgba(0, 0, 0, .15) !important;
}
