<div class="sections-row" [formGroup]="form" *ngIf="form">

   <div class="medium-stack">

      <div class="test-unit-medium">
         <span class="test-unit">
            {{sampleTestUnitsTypeAbrev | titlecase}} {{testUnitNumber}}
         </span>
         <div class="expanding-flex-space"></div>
         <span class="medium-label rv">RV</span>
         <div class="expanding-flex-space"></div>
      </div>

      <app-sel-agars-test-suite
         [stage]="stage"
         [showOtherStageDataAsContext]="showOtherStageDataAsContext"
         [showAddIsolatesButton]="!viewOnly && stage === 'SLANT'"
         [viewOnly]="viewOnly"
         [form]="form.controls['rvSourcedTests']"
         [testUnitDescription]="sampleTestUnitsTypeAbrev + ' # ' + testUnitNumber"
         [medium]="'RV'"
         [appUser]="appUser"
         [showUnsetAffordances]="showUnsetAffordances">
      </app-sel-agars-test-suite>

   </div>

   <div class="medium-stack">

      <span class="medium-label tt">TT</span>

      <app-sel-agars-test-suite
         [stage]="stage"
         [showOtherStageDataAsContext]="showOtherStageDataAsContext"
         [showAddIsolatesButton]="!viewOnly && stage === 'SLANT'"
         [viewOnly]="viewOnly"
         [form]="form.controls['ttSourcedTests']"
         [testUnitDescription]="sampleTestUnitsTypeAbrev + ' # ' + testUnitNumber"
         [medium]="'TT'"
         [appUser]="appUser"
         [showUnsetAffordances]="showUnsetAffordances">
      </app-sel-agars-test-suite>

   </div>

   <div class="expanding-flex-space"></div>

   <button type="button" class="close" mat-icon-button *ngIf="showDisposeButton" (click)="onDisposeRequested()">
      <mat-icon>close</mat-icon>
   </button>

</div>
