.main-row {
   display: flex;
   flex-flow: row wrap;
   align-items: flex-start;
   margin-bottom: 30px;
   border: 5px solid lightgray;
}

.medium-label {
   font-size: 120%;
   font-weight: bold;
   padding: 5px;
   &.rv {
      margin-left: -10px;
   }
   &.tt {
      margin-right: -50px;
   }
}

.test-unit-medium {
   display: flex;
   flex-flow: row nowrap;
   align-items: center;
   width: 100%;
}

.test-unit {
   color: white;
   background-color: #666;
   font-weight: bold;
   font-size: 110%;
   padding: 3px 10px;
   margin: -7px 0 0 -15px;
}

.medium-stack {
   display: flex;
   flex-flow: column nowrap;
   margin: 0 15px;
   align-items: center;
}

.medium-row {
   display: flex;
   flex-flow: row wrap;
   align-items: center;
   border-left: 5px solid lightgray;
}

button.close {
}

