<div class="main-row" [formGroup]="form">

   <div class="medium-stack">

      <div class="test-unit-medium">
            <span class="test-unit">
               <span>{{sampleTestUnitsTypeAbrev | titlecase}} # </span>
               <input class="test-unit-num" matInput type="number" min="1" formControlName="testUnitNumber"
                      (change)="onTestUnitNumberChanged()">
            </span>
         <span class="medium-label">RV</span>
      </div>

      <app-sel-agars-test-suite
         [form]="form.controls['rvSourcedTests']"
         [testUnitDescription]="sampleTestUnitsTypeAbrev + ' # ' + testUnitNum"
         [medium]="'RV'">
      </app-sel-agars-test-suite>

   </div>

   <div class="medium-stack">

      <div class="test-unit-medium">
            <span class="test-unit">
               <span>{{sampleTestUnitsTypeAbrev | titlecase}} # </span>
               <span class="test-unit-num">{{testUnitNum}}</span>
            </span>
         <span class="medium-label">TT</span>
      </div>

      <app-sel-agars-test-suite
         [form]="form.controls['ttSourcedTests']"
         [testUnitDescription]="sampleTestUnitsTypeAbrev + ' # ' + testUnitNum"
         [medium]="'TT'">
      </app-sel-agars-test-suite>

   </div>

   <div class="expanding-flex-space"></div>

   <button class="close" mat-icon-button *ngIf="showDisposeButton" (click)="onDisposeRequested()">
      <mat-icon>close</mat-icon>
   </button>

</div>
