@import '../common-styles';

.reserve-sample-area {
   display: flex;
   flex-flow: column nowrap;
   align-items: flex-start;

   .label {
      font-weight: bold;
      margin: 0 10px;
   }

   mat-radio-button {
      margin-right: 20px;
   }

   .extra-information {
      display: flex;
      flex-flow: row wrap;
      margin: 10px;
      width: 100%;

      .field-area {
         flex-grow: 1;
         mat-form-field {
            width: 80%;
         }
      }

      .destinations mat-form-field {
         padding: 3px 10px 0 10px;
         border: 5px solid #eee;
      }
   }
}

.time-charges-area {
   margin: 20px 20px 10px 20px;
}

.time-charges-table-area {
   display: flex;
   align-items: flex-end;
}

.facts-save-btn {
   margin-bottom: 10px;
}

app-time-charges {
   margin-bottom: 10px;
}

.remarks-area {
   margin: 20px;
}
