<form [formGroup]="form">

   <div class="reserve-sample-area">
      <div class="field-area">
         <span>
            <span class="label">Reserve sample: </span>
            <mat-radio-group formControlName="reserveSampleDisposition" (change)="onReserveSampleDispositionChanged()">
               <mat-radio-button value="NO_RESERVE_SAMPLE">none</mat-radio-button>
               <mat-radio-button value="SAMPLE_DISCARDED_AFTER_ANALYSIS">sample discarded after analysis</mat-radio-button>
               <mat-radio-button value="ISOLATES_SENT">isolates sent (enter destination below)</mat-radio-button>
               <mat-radio-button value="OTHER">other (describe below)</mat-radio-button>
               <mat-radio-button *ngIf="showUnsetAffordances" class="unset" [value]="null">unset</mat-radio-button>
            </mat-radio-group>
         </span>
      </div>
      <div class="extra-information">
         <div class="field-area destinations" *ngIf="destinationsEnabled">
            <mat-form-field>
               <textarea matInput placeholder="Sample destinations" formControlName="reserveSampleDestinations"
                         rows="8" cols="30">
               </textarea>
            </mat-form-field>
         </div>
         <div class="field-area" *ngIf="otherDescriptionEnabled">
            <mat-form-field>
               <input type="text" matInput placeholder="Other case description" formControlName="reserveSampleOtherDescription">
            </mat-form-field>
         </div>
      </div>
   </div>

   <div class="time-charges-area">
      <h3>Accomplishment Hours</h3>
      <div class="time-charges-table-area">
         <app-time-charges
            [form]="form.get('testTimeCharges')"
            [availableUsers]="labGroupUsers"
            [allowDataChanges]="allowDataChanges"
            [defaultFirstUserShortName]="appUser.shortName"
            [defaultFirstUserRole]="'lead'"
            [defaultFirstUserStatusCode]="'I'"
            [allowDeletes]="false"
            (timeChargesDataChange)="onTimeChargesDataChanged()">
         </app-time-charges>
      </div>
      <div class="unsaved-time-charges" *ngIf="unsavedTimeCharges">
         <span>Some accomplishments changes have not been saved to FACTS.</span>
      </div>
   </div>

   <div class="anlaysis-remarks-area">
      <div class="field-area">
         <mat-form-field>
            <input type="text" formControlName="analysisResultsRemarks"
                   matInput placeholder="Analysis results remarks">
         </mat-form-field>
      </div>
   </div>

</form>
