<form [formGroup]="form">

   <div class="reserve-sample-area">

      <div class="field-area"
           [class.conflicted]="conflicts.reserveSampleDisposition !== undefined">
         <span>
            <span class="label">Reserve sample: </span>
            <mat-radio-group formControlName="reserveSampleDisposition" (change)="onReserveSampleDispositionChanged()">
               <mat-radio-button value="NO_RESERVE_SAMPLE">none</mat-radio-button>
               <mat-radio-button value="SAMPLE_DISCARDED_AFTER_ANALYSIS">sample discarded after analysis</mat-radio-button>
               <mat-radio-button value="ISOLATES_SENT">isolates sent (enter destination below)</mat-radio-button>
               <mat-radio-button value="OTHER">other (describe below)</mat-radio-button>
               <mat-radio-button *ngIf="showUnsetAffordances" class="unset" [value]="null">unset</mat-radio-button>
            </mat-radio-group>
         </span>
         <app-conflicting-field-value
            [conflictValue]="conflicts.reserveSampleDisposition"
            [conflictWhoWhen]="conflictsWhoWhen"
            (dismiss)="conflicts.reserveSampleDisposition = undefined">
         </app-conflicting-field-value>
      </div>

      <div class="extra-information">
         <div class="field-area destinations"
               [class.conflicted]="conflicts.reserveSampleDestinations !== undefined"
               *ngIf="destinationsEnabled">
            <mat-form-field>
               <textarea matInput placeholder="Sample destinations" formControlName="reserveSampleDestinations"
                         rows="8" cols="30">
               </textarea>
            </mat-form-field>
            <app-conflicting-field-value
               [conflictValue]="conflicts.reserveSampleDestinations "
               [conflictWhoWhen]="conflictsWhoWhen"
               (dismiss)="conflicts.reserveSampleDestinations = undefined">
            </app-conflicting-field-value>
         </div>

         <div class="field-area"
               [class.conflicted]="conflicts.reserveSampleOtherDescription !== undefined"
               *ngIf="otherDescriptionEnabled">
            <mat-form-field>
               <input type="text" matInput placeholder="Other case description" formControlName="reserveSampleOtherDescription">
            </mat-form-field>
            <app-conflicting-field-value
               [conflictValue]="conflicts.reserveSampleOtherDescription "
               [conflictWhoWhen]="conflictsWhoWhen"
               (dismiss)="conflicts.reserveSampleOtherDescription = undefined">
            </app-conflicting-field-value>
         </div>
      </div>

   </div>

   <div class="time-charges-area">
      <h3>Accomplishment Hours</h3>
      <div class="time-charges-table-area">
         <app-time-charges
            [form]="form.get('testTimeCharges')"
            [availableUsers]="labGroupUsers"
            [allowDataChanges]="allowDataChanges"
            [allowDeletes]="false"
            (timeChargesDataChange)="onTimeChargesDataChanged()">
         </app-time-charges>
         <button [disabled]="!unsavedTimeCharges" class="facts-save-btn" mat-button (click)="saveTimeChargesToFacts()">
            Save work hours to FACTS
         </button>
      </div>
   </div>

   <div class="remarks-area">
      <div class="field-area"
           [class.conflicted]="conflicts.analysisResultsRemarksText !== undefined">
         <mat-form-field>
            <input type="text" formControlName="analysisResultsRemarksText"
                   matInput placeholder="Analysis results remarks">
         </mat-form-field>
         <app-conflicting-field-value
            [conflictValue]="conflicts.analysisResultsRemarksText"
            [conflictWhoWhen]="conflictsWhoWhen"
            (dismiss)="conflicts.analysisResultsRemarksText = undefined">
         </app-conflicting-field-value>
      </div>
   </div>

</form>
