.received {
   display: flex;
   align-items: center;
   margin: 10px;
   mat-form-field {
      margin-right: 10px;
   }
}

.label-attachment-type {
   display: flex;
   margin: 10px;
   mat-radio-button {
      margin-left: 20px;
   }
}

.cr-matching-grid {
   margin: 20px 10px;
   display: grid;
   grid-template-columns: 1fr 5fr;
   align-items: center;
   grid-gap: 7px;

   mat-radio-button {
      margin-left: 5px;
      margin-right: 5px;
   }

}

