<form [formGroup]="form">

   <div class="received-fields">

      <span class="field-area" [class.conflicted]="conflicts.sampleReceivedDate !== undefined">
         <mat-form-field>
            <input matInput formControlName="sampleReceivedDate" [matDatepicker]="datepicker"
                   placeholder="Sample received date">
            <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker></mat-datepicker>
         </mat-form-field>
         <app-conflicting-field-value
            [conflictValue]="conflicts.sampleReceivedDate"
            [conflictWhoWhen]="conflictsWhoWhen"
            (dismiss)="conflicts.sampleReceivedDate = undefined">
         </app-conflicting-field-value>
      </span>

      <span class="field-area" [class.conflicted]="conflicts.sampleReceivedFrom !== undefined">
         <mat-form-field>
            <input type="text" matInput placeholder="Received from" formControlName="sampleReceivedFrom">
         </mat-form-field>
         <app-conflicting-field-value
            [conflictValue]="conflicts.sampleReceivedFrom"
            [conflictWhoWhen]="conflictsWhoWhen"
            (dismiss)="conflicts.sampleReceivedFrom = undefined">
         </app-conflicting-field-value>
      </span>

   </div> <!-- received fields -->

   <div class="label-attachment-type field-area" [class.conflicted]="conflicts.labelAttachmentType !== undefined">
      <span>
         <span class="label">Labeling</span>
         <mat-radio-group formControlName="labelAttachmentType">
            <mat-radio-button value="NONE">none available</mat-radio-button>
            <mat-radio-button value="ATTACHED_ORIGINAL">attached original</mat-radio-button>
            <mat-radio-button value="ATTACHED_COPY">attached copy</mat-radio-button>
            <mat-radio-button value="SUBMITTED_ALONE">submitted alone</mat-radio-button>
            <mat-radio-button class="unset" [value]="null">unset</mat-radio-button>
         </mat-radio-group>
      </span>
      <app-conflicting-field-value
         [conflictValue]="conflicts.labelAttachmentType"
         [conflictWhoWhen]="conflictsWhoWhen"
         (dismiss)="conflicts.labelAttachmentType = undefined">
      </app-conflicting-field-value>
   </div>



   <div class="cr-matching-grid">

      <div class="field-area descr" [class.conflicted]="conflicts.descriptionMatchesCR !== undefined">
         <mat-radio-group formControlName="descriptionMatchesCR">
            <div>Description matches CR</div>
            <div>
               <mat-radio-button [value]="true">Y</mat-radio-button>
               <mat-radio-button [value]="false">N</mat-radio-button>
               <mat-radio-button [value]="null" class="unset">unset</mat-radio-button>
            </div>
         </mat-radio-group>
         <app-conflicting-field-value
            [conflictValue]="conflicts.descriptionMatchesCR"
            [conflictWhoWhen]="conflictsWhoWhen"
            (dismiss)="conflicts.descriptionMatchesCR = undefined">
         </app-conflicting-field-value>
      </div>

      <div class="field-area descr-notes" [class.conflicted]="conflicts.descriptionMatchesCRNotes !== undefined">
         <mat-form-field class="notes">
            <input type="text" matInput placeholder="Notes"
                   formControlName="descriptionMatchesCRNotes">
         </mat-form-field>
         <app-conflicting-field-value
            [conflictValue]="conflicts.descriptionMatchesCRNotes"
            [conflictWhoWhen]="conflictsWhoWhen"
            (dismiss)="conflicts.descriptionMatchesCRNotes = undefined">
         </app-conflicting-field-value>
      </div>

      <div class="field-area container" [class.conflicted]="conflicts.containerMatchesCR !== undefined">
         <mat-radio-group formControlName="containerMatchesCR">
            <div>Container matches CR</div>
            <div>
               <mat-radio-button [value]="true">Y</mat-radio-button>
               <mat-radio-button [value]="false">N</mat-radio-button>
               <mat-radio-button [value]="null" class="unset">unset</mat-radio-button>
            </div>
         </mat-radio-group>
         <app-conflicting-field-value
            [conflictValue]="conflicts.containerMatchesCR"
            [conflictWhoWhen]="conflictsWhoWhen"
            (dismiss)="conflicts.containerMatchesCR = undefined">
         </app-conflicting-field-value>
      </div>

      <div class="field-area container-notes" [class.conflicted]="conflicts.containerMatchesCRNotes !== undefined">
         <mat-form-field class="notes">
            <input type="text" matInput placeholder="Notes" formControlName="containerMatchesCRNotes">
         </mat-form-field>
         <app-conflicting-field-value
            [conflictValue]="conflicts.containerMatchesCRNotes"
            [conflictWhoWhen]="conflictsWhoWhen"
            (dismiss)="conflicts.containerMatchesCRNotes = undefined">
         </app-conflicting-field-value>
      </div>

      <div class="field-area code" [class.conflicted]="conflicts.codeMatchesCR !== undefined">
         <mat-radio-group formControlName="codeMatchesCR">
            <div>Code matches CR</div>
            <div>
               <mat-radio-button [value]="true">Y</mat-radio-button>
               <mat-radio-button [value]="false">N</mat-radio-button>
               <mat-radio-button [value]="null" class="unset">unset</mat-radio-button>
            </div>
         </mat-radio-group>
         <app-conflicting-field-value
            [conflictValue]="conflicts.codeMatchesCR"
            [conflictWhoWhen]="conflictsWhoWhen"
            (dismiss)="conflicts.codeMatchesCR = undefined">
         </app-conflicting-field-value>
      </div>

      <div class="field-area code-notes" [class.conflicted]="conflicts.codeMatchesCRNotes !== undefined">
         <mat-form-field class="notes">
            <input type="text" matInput placeholder="Notes" formControlName="codeMatchesCRNotes">
         </mat-form-field>
         <app-conflicting-field-value
            [conflictValue]="conflicts.codeMatchesCRNotes"
            [conflictWhoWhen]="conflictsWhoWhen"
            (dismiss)="conflicts.codeMatchesCRNotes = undefined">
         </app-conflicting-field-value>
      </div>

   </div>

</form>
