.main-row {
   display: flex;
   flex-flow: row nowrap;
   align-items: center;
   margin: 0 7px 0 0;
}

.field-area {
   margin: 1px 5px 1px 0;
   padding: 1px 2px;
   border: 2px solid lightgray;
   border-radius: 5px;
}

.label {
   font-weight: bold;
   font-size: smaller;
}

.method {
   width: 100px;
}

.ident-code {
   min-width: 60px;
}

.ident-text {
   min-width: 300px;
}

.attachment-label {
   width: 30px;
}

.positive {
   min-width: 50px;
}
