<div [formGroup]="form">

   <div class="diffs-vs-vidas-positives-area" *ngIf="stage==='SLANT' && !viewOnly && testUnitNumbersDiffMessage">
      <div class="message"
           [ngClass]="{'warn': testUnitNumbersDiffMessageIsWarning, 'ok': !testUnitNumbersDiffMessageIsWarning}">
         {{testUnitNumbersDiffMessage}}
         <span *ngIf="testUnitNumbersDiff && testUnitNumbersDiff.unrepresentedVidasPositives.length > 0">
            <button class="link" (click)="addUnrepresentedVidasPositivesContinuationTestsFormGroups()">
               Add Vidas positives.
            </button>
         </span>
      </div>
   </div>

   <div *ngIf="this.form.get('testUnitsContinuationTests')">

      <mat-tab-group>

         <mat-tab label="Subs/Composites">

            <div class="test-units-area">

               <app-one-pos-test-unit-cont-tests *ngFor="let testUnitNum of sortedTestUnitNums"
                  [stage]="stage"
                  [showOtherStageDataAsContext]="showOtherStageDataAsContext"
                  [viewOnly]="viewOnly"
                  [form]="this.form.get(['testUnitsContinuationTests',testUnitNum.toString()])"
                  [testUnitNumber]="testUnitNum"
                  [showDisposeButton]="!viewOnly && stage==='SLANT'"
                  [sampleTestUnitsTypeAbrev]="sampleTestUnitsTypeAbrev"
                  [appUser]="appUser"
                  [showUnsetAffordances]="showUnsetAffordances"
                  (disposeRequested)="removeTestUnitNumber(testUnitNum)">
               </app-one-pos-test-unit-cont-tests>

            </div>

         </mat-tab>

         <mat-tab label="Controls">

            <div class="controls-area" formGroupName="continuationControls">

               <div class="control">
                  <div class="control-name">Media Control</div>
                  <mat-radio-group formControlName="mediumControlGrowth" *ngIf="stage === 'SLANT'">
                     <span>medium growth</span>
                     <mat-radio-button [value]="true">Y</mat-radio-button>
                     <mat-radio-button [value]="false">N</mat-radio-button>
                     <mat-radio-button *ngIf="showUnsetAffordances" class="unset" [value]="null">unset</mat-radio-button>
                  </mat-radio-group>
                  <mat-radio-group formControlName="mediumSatisfactory" *ngIf="stage === 'IDENT'">
                     <span>control satisfactory</span>
                     <mat-radio-button [value]="true">Y</mat-radio-button>
                     <mat-radio-button [value]="false">N</mat-radio-button>
                     <mat-radio-button *ngIf="showUnsetAffordances" class="unset" [value]="null">unset</mat-radio-button>
                  </mat-radio-group>
               </div>

               <div class="control">
                  <div class="control-name">Salmonella Gaminara</div>
                  <app-sel-agars-test-suite
                     [stage]="stage"
                     [showOtherStageDataAsContext]="showOtherStageDataAsContext"
                     [viewOnly]="viewOnly"
                     [form]="form.get(['continuationControls', 'salmonellaGaminara'])"
                     [testUnitDescription]="'Salmonella Gaminara control'"
                     [medium]="'RV&TT'"
                     [appUser]="appUser"
                     [showAddIsolatesButton]="false"
                     [showIsolateNumber]="false"
                     [showUnsetAffordances]="showUnsetAffordances">
                  </app-sel-agars-test-suite>
                  <mat-radio-group formControlName="salmonellaGaminaraSatisfactory" *ngIf="stage === 'IDENT'">
                     <span>control satisfactory</span>
                     <mat-radio-button [value]="true">Y</mat-radio-button>
                     <mat-radio-button [value]="false">N</mat-radio-button>
                     <mat-radio-button *ngIf="showUnsetAffordances" class="unset" [value]="null">unset</mat-radio-button>
                  </mat-radio-group>
               </div>

               <div class="control">
                  <div class="control-name">Salmonella Diarizonae</div>
                  <ng-container *ngIf="stage === 'SLANT'">
                     <app-sel-agars-test-suite
                        [stage]="stage"
                        [showOtherStageDataAsContext]="false"
                        [viewOnly]="viewOnly"
                        [form]="form.get(['continuationControls', 'salmonellaDiarizonae'])"
                        [includeOxidase]="false"
                        [testUnitDescription]="'Salmonella Diarizonae control'"
                        [medium]="'RV&TT'"
                        [appUser]="appUser"
                        [showAddIsolatesButton]="false"
                        [showIsolateNumber]="false"
                        [showUnsetAffordances]="showUnsetAffordances">
                     </app-sel-agars-test-suite>
                  </ng-container>
                  <div *ngIf="stage === 'IDENT'">
                     <mat-radio-group formControlName="salmonellaDiarizonaeSatisfactory">
                        <span>control satisfactory</span>
                        <mat-radio-button [value]="true">Y</mat-radio-button>
                        <mat-radio-button [value]="false">N</mat-radio-button>
                        <mat-radio-button *ngIf="showUnsetAffordances" class="unset" [value]="null">unset</mat-radio-button>
                     </mat-radio-group>
                  </div>
               </div>

               <div class="control">
                  <div class="control-name">P. Vulgaris</div>
                  <div class="p-vulgaris-urea" *ngIf="stage === 'SLANT'">
                     <span class="p-vulgaris-urea-label">Urea</span>
                     <span class="p-vulgaris-urea-value">
                        <mat-select formControlName="pVulgarisUreaDetection">
                           <mat-option [value]="null"></mat-option>
                           <mat-option [value]="true">+</mat-option>
                           <mat-option [value]="false">&minus;</mat-option>
                        </mat-select>
                     </span>
                  </div>
                  <app-isolate-identification-editor *ngIf="stage === 'IDENT'"
                     [form]="form.get(['continuationControls', 'pVulgarisIdentification'])">
                  </app-isolate-identification-editor>
                  <mat-radio-group formControlName="pVulgarisSatisfactory" *ngIf="stage === 'IDENT'">
                     <span>control satisfactory</span>
                     <mat-radio-button [value]="true">Y</mat-radio-button>
                     <mat-radio-button [value]="false">N</mat-radio-button>
                     <mat-radio-button *ngIf="showUnsetAffordances" class="unset" [value]="null">unset</mat-radio-button>
                  </mat-radio-group>
               </div>

               <div class="control">
                  <div class="control-name">P. Aerugi</div>
                  <div class="p-aerugi-oxidase" *ngIf="stage === 'SLANT'">
                     <span class="p-aerugi-oxidase-label">Oxidase</span>
                     <span class="p-aerugi-oxidase-value">
                        <mat-select formControlName="pAerugiOxidaseDetection">
                           <mat-option [value]="null"></mat-option>
                           <mat-option [value]="true">+</mat-option>
                           <mat-option [value]="false">&minus;</mat-option>
                        </mat-select>
                     </span>
                  </div>
                  <div *ngIf="stage === 'IDENT'">
                     <mat-radio-group formControlName="pAerugiSatisfactory">
                        <span>control satisfactory</span>
                        <mat-radio-button [value]="true">Y</mat-radio-button>
                        <mat-radio-button [value]="false">N</mat-radio-button>
                        <mat-radio-button *ngIf="showUnsetAffordances" class="unset" [value]="null">unset</mat-radio-button>
                     </mat-radio-group>
                  </div>
               </div>

            </div>

         </mat-tab>

      </mat-tab-group>

   </div>

   <!-- attached files for IDENT stage -->
   <mat-expansion-panel class="attached-files" *ngIf="stage === 'IDENT'">
      <mat-expansion-panel-header>
         {{identAttachedFiles.length}} attached file{{identAttachedFiles.length == 1 ? '': 's'}}
      </mat-expansion-panel-header>
      <app-test-attached-files *ngIf="!viewOnly"
         [testId]="testId"
         [testDataPart]="IDENT_ATTACHED_FILES_KEY"
         [attachedFiles]="identAttachedFiles"
         [modificationsEnabled]="true"
         (attachedFilesChange)="onIdentAttachedFilesChanged($event)">
      </app-test-attached-files>
   </mat-expansion-panel>

   <div class="stage-options-bottom-bar">
      <button class="link" type="button" (click)="toggleShowOtherStageDataAsContext()">
         {{showOtherStageDataAsContext ? 'Hide' : 'Show'}} {{stage === 'IDENT' ? 'SLANT' : 'IDENT'}} isolate test data
      </button>
   </div>

</div>
