<form [formGroup]="form">

   <div class="row">

      <div class="field-area"
           [class.conflicted]="conflicts.mBrothBatchId !== undefined"
           [class.batch-resource-matched]="resourceAssignments.hasAssignedOrAppliedResources('mBrothBatchId')">
         <mat-form-field>
            <input formControlName="mBrothBatchId" type="text" matInput placeholder="M broth batch">
         </mat-form-field>
         <app-field-assigned-resources *ngIf="allowDataChanges"
            [resourceCodes]="resourceAssignments.getAssignedResourceCodesForControl('mBrothBatchId')"
            (select)="resourceAssignments.applyAssignedResourceToControl($event, 'mBrothBatchId')"
            (remove)="resourceAssignments.removeAssignedResourceCodeForControl($event, 'mBrothBatchId')"
            (removeAll)="resourceAssignments.removeAllResourceAssignmentsForControl('mBrothBatchId')">
         </app-field-assigned-resources>
         <app-conflicting-field-value
            [conflictValue]="conflicts.mBrothBatchId"
            [conflictWhoWhen]="conflictsWhoWhen"
            (dismiss)="conflicts.mBrothBatchId = undefined">
         </app-conflicting-field-value>
      </div>

      <button class="apply-resources-btn" *ngIf="allowDataChanges"
              (click)="promptApplyResources()"
              mat-icon-button color="accent">
         <mat-icon>flash_on</mat-icon>
      </button>

   </div>

   <div class="row">

      <div class="field-area" [class.conflicted]="conflicts.mBrothWaterBathId !== undefined">
         <mat-form-field>
            <mat-select formControlName="mBrothWaterBathId" placeholder="Water bath" *ngIf="waterBaths; else textInputWaterBath">
               <mat-option [value]="null"></mat-option>
               <mat-option *ngFor="let labRsc of waterBaths" [value]="labRsc.code">
                  {{labRsc.code}}{{labRsc.description ? ' - ' + labRsc.description : ''}}
               </mat-option>
            </mat-select>
            <ng-template #textInputWaterBath>
               <input formControlName="mBrothWaterBathId" type="text" matInput placeholder="Water bath">
            </ng-template>
         </mat-form-field>
         <app-conflicting-field-value
            [conflictValue]="conflicts.mBrothWaterBathId"
            [conflictWhoWhen]="conflictsWhoWhen"
            (dismiss)="conflicts.mBrothWaterBathId = undefined">
         </app-conflicting-field-value>
      </div>

      <div class="field-area" [class.conflicted]="conflicts.waterBathStarted !== undefined">
         <div class="row">
            <mat-form-field>
               <input formControlName="waterBathStarted" type="text" matInput placeholder="Water bath started">
            </mat-form-field>
            <span class="started-helpers" *ngIf="allowDataChanges">
                <span class="start-now">
                   <mat-icon>arrow_back</mat-icon>
                   <button class="link now-time"
                           (click)="setStartTimeNow()">
                      now
                   </button>
                </span>
                <span class="format-msg">YYYY-MM-DD HH:mm[:ss]</span>
            </span>
         </div>
         <app-conflicting-field-value
            [conflictValue]="conflicts.waterBathStarted"
            [conflictWhoWhen]="conflictsWhoWhen"
            (dismiss)="conflicts.waterBathStarted = undefined">
         </app-conflicting-field-value>
      </div>

   </div>

</form>
