<div [formGroup]="form" class="isolate-row" [class.failed]="form.get('failure') != null" *ngIf="form">

   <div class="isolate-num" matTooltip="isolate number" *ngIf="showIsolateNumber">{{isolateNumber}}</div>

   <app-isolate-slant-stage-view *ngIf=" stage === 'SLANT' || stage === 'IDENT' && viewContextData"
     [form]="form"
     [allowDataChanges]="stage === 'SLANT' && allowDataChanges"
     [testUnitDescription]="testUnitDescription"
     [medium]="medium"
     [selectiveAgarDisplayName]="selectiveAgarDisplayName"
     [includeOxidase]="includeOxidase"
     [showUnsetAffordances]="showUnsetAffordances">
   </app-isolate-slant-stage-view>

   <!-- IDENT stage editing -->
   <div class="ident-editing-area" *ngIf="stage === 'IDENT' && allowDataChanges">
      <app-isolate-identification-editor *ngIf="form.get('identification') != null"
         [form]="form.get('identification')"
         [allowDataChanges]="allowDataChanges">
      </app-isolate-identification-editor>
   </div>

   <div class="ident-required-indicator" *ngIf="stage === 'SLANT'"
        [matTooltip]="'The isolate is ' + (form.get('identification') == null ? 'not ' : '') + 'marked for identification.'">
      <mat-icon [class.hidden]="form.get('identification') == null">
         check_circle
      </mat-icon>
   </div>

   <!-- IDENT data read-only view as context -->
   <app-isolate-identification-view
      *ngIf="form.get('identification') != null &&
         ( stage === 'SLANT' && viewContextData || stage == 'IDENT' && !allowDataChanges )"
      [form]="form">
   </app-isolate-identification-view>

   <div class="expanding-flex-space"></div>

   <div class="isolate-actions" *ngIf="allowDataChanges">
      <mat-menu #actionsMenu="matMenu">
         <span class="menu-header">Actions for {{isolateDescription}}</span>
         <hr>
         <div class="menu-item">
            <button mat-button class="remove" *ngIf="showDisposeButton" (click)="onDisposeRequested()" type="button">
                <mat-icon>delete_forever</mat-icon>
                delete isolate
            </button>
         </div>
         <div class="menu-item">
            <button mat-button class="fail" *ngIf="!this.form.controls.failure" type="button"
               (click)="promptEditFailureInfo()">
               <mat-icon>thumb_down</mat-icon> mark isolate as failed
            </button>
         </div>
         <div class="menu-item">
            <button mat-button class="unfail" *ngIf="!!this.form.controls.failure" type="button"
                    (click)="clearFailure()">
               <mat-icon>thumb_up</mat-icon>
               mark isolate as not failed
            </button>
         </div>
         <div class="menu-item">
            <button mat-button *ngIf="!!this.form.controls.failure" (click)="promptEditFailureInfo()" type="button">
               <mat-icon>edit</mat-icon><mat-icon>thumb_down</mat-icon>
               edit failure information
            </button>
         </div>
         <div class="menu-item" *ngIf="stage === 'SLANT' && form.get('identification') == null">
            <button mat-button *ngIf="form.get('identification') == null" type="button"
               (click)="createIdentificationFormGroup()">
               <mat-icon class="greened">check_circle</mat-icon>
               mark isolate for identification via API20E/Vitek
            </button>
         </div>
         <div class="menu-item" *ngIf="stage === 'SLANT' && form.get('identification') != null">
            <button mat-button (click)="removeIdentificationFormGroup()" type="button">
               <mat-icon class="greyed">check_circle</mat-icon>
               unmark isolate for identification (removes API20E/Vitek data)
            </button>
         </div>
      </mat-menu>

      <button class="hover-link row-actions" [matMenuTriggerFor]="actionsMenu" type="button">
         <mat-icon>menu</mat-icon>
      </button>
   </div> <!-- isolate actions -->

</div>
