@import '../common-test-stage-styles';

.resource-identifiers {
   display: flex;
   flex-flow: row wrap;
}

.results {
   display: flex;
   flex-flow: row wrap;
   margin-top: 15px;
}

.field-area {
   margin: 5px 30px 5px 5px;
}

