@import '../common-test-stage-styles';

.resource-identifiers {
   display: flex;
   flex-flow: row wrap;
}

.results {
   display: flex;
   flex-flow: row wrap;
   margin-top: 15px;

   mat-radio-group {
      mat-radio-button {
         margin: 3px 10px 3px 0;
         .unset {
            margin-left: 10px;
         }
      }
   }
}

.field-area {
   margin: 5px 30px 5px 5px;
}

