@import '../common-test-stage-styles';

.content-stack {
   display: flex;
   flex-flow: column nowrap;
   width: 100%;
}

.row {
   display: flex;
   flex-flow: row wrap;
   width: 100%;
}

.medium-control {
   padding: 5px;
   border: 5px dotted lightgray;
   &.pos {
      background-color: #ffeeee;
      border: 5px solid darkred;
   }
   &.neg {
      border: 5px solid darkgreen;
      background-color: #eeffee;
   }
}

.sample-test-unit-detections {
   margin: 10px;
   padding: 0 10px 10px 10px;
   border: 3px solid #cccccc;

   .detection-controls-warning {
      border: 2px dashed orange;
      padding: 10px;
      margin-bottom: 30px;
      max-width: 700px;
   }

   .sample-test-unit-detections-array {
      display: flex;
      flex-flow: row wrap;
      align-items: center;

      .sample-test-unit-detection {
         display: flex;
         flex-flow: column wrap;
         align-items: center;
         margin: 5px;
         padding: 5px;
         border: 5px dotted lightgray;
         position: relative;
         mat-radio-group {
            display: flex;
            flex-flow: column nowrap;
         }
         &.pos {
            background-color: #ffeeee;
            border: 5px solid darkred;
         }
         &.neg {
            border: 5px solid darkgreen;
            background-color: #eeffee;
         }
         // Position the close button absolutely so as to not disturb the layout of
         // the detection controls when present (by changing their size), which would
         // be confusing to the user.
         .close {
            position: absolute;
            top: 0;
            right: 0;
            margin-top: -12px;
            margin-right: -12px;
         }
      }

      .test-unit-number {
         padding: 3px 6px;
         border-radius: 10px;
         background-color: darkblue;
         color: lightgray;
      }
   }
}

.positive-control, .spike-control {
   padding: 5px;
   border: 5px dotted lightgray;
   &.pos {
      border: 5px solid darkgreen;
      background-color: #eeffee;
   }
   &.neg {
      border: 5px solid darkred;
      background-color: #ffeeee;
   }
}

.controls-row {
   display: flex;
   flex-flow: row wrap;
   margin-top: 15px;
}

.field-area {
   margin: 5px 30px 5px 5px;
}

.row.attached-files {
   // TODO
}
