<form [formGroup]="form">

   <div class="growth-grid">

      <span class="sys-ctrls-row-lbl">

         <mat-radio-group formControlName="systemControlsUsed" (change)="onSystemControlsUsedChanged()">
            <div>System controls used</div>
            <div>
               <mat-radio-button [value]="true">Y</mat-radio-button>
               <mat-radio-button [value]="false">N</mat-radio-button>
               <mat-radio-button *ngIf="showUnsetAffordances" class="unset" [value]="null">unset</mat-radio-button>
            </div>
         </mat-radio-group>
         <app-conflicting-field-value
            [conflictValue]="conflicts.systemControlsUsed"
            [conflictWhoWhen]="conflictsWhoWhen"
            (dismiss)="conflicts.systemControlsUsed = undefined">
         </app-conflicting-field-value>
      </span>

      <div class="field-area sys-ctrl-types" [class.conflicted]="conflicts.systemControlTypes!== undefined">
         <mat-form-field>
            <input formControlName="systemControlTypes" type="text" matInput placeholder="System control types">
         </mat-form-field>
         <div class="ctrl-types-predefined-inputs">
            <button class="link" (click)="appendSystemControlType('none');">none</button>
            <button class="link" (click)="appendSystemControlType('knife')">knife</button>
            <button class="link" (click)="appendSystemControlType('spoon');">spoon</button>
            <button class="link" (click)="appendSystemControlType('spatula');">spatula</button>
         </div>
         <app-conflicting-field-value
            [conflictValue]="conflicts.systemControlTypes"
            [conflictWhoWhen]="conflictsWhoWhen"
            (dismiss)="conflicts.systemControlTypes = undefined">
         </app-conflicting-field-value>
      </div>

      <div class="field-area sys-ctrls-growth" [class.conflicted]="conflicts.systemControlsGrowth !== undefined">
         <mat-radio-group formControlName="systemControlsGrowth">
            <div>System controls growth</div>
            <div>
               <mat-radio-button [value]="true">growth</mat-radio-button>
               <mat-radio-button [value]="false">no growth</mat-radio-button>
               <mat-radio-button *ngIf="showUnsetAffordances" class="unset" [value]="null">unset</mat-radio-button>
            </div>
         </mat-radio-group>
         <app-conflicting-field-value
            [conflictValue]="conflicts.systemControlsGrowth"
            [conflictWhoWhen]="conflictsWhoWhen"
            (dismiss)="conflicts.systemControlsGrowth = undefined">
         </app-conflicting-field-value>
      </div>

      <span class="coll-ctrls-row-lbl">
         <mat-radio-group formControlName="collectorControlsUsed" (change)="onCollectorControlsUsedChanged()">
            <div>Collector's controls used</div>
            <div>
               <mat-radio-button [value]="true">Y</mat-radio-button>
               <mat-radio-button [value]="false">N</mat-radio-button>
               <mat-radio-button *ngIf="showUnsetAffordances" class="unset" [value]="null">unset</mat-radio-button>
            </div>
         </mat-radio-group>
         <app-conflicting-field-value
            [conflictValue]="conflicts.collectorControlsUsed"
            [conflictWhoWhen]="conflictsWhoWhen"
            (dismiss)="conflicts.collectorControlsUsed = undefined">
         </app-conflicting-field-value>
      </span>

      <div class="field-area coll-ctrl-types" [class.conflicted]="conflicts.collectorControlTypes!== undefined">
         <mat-form-field>
            <input formControlName="collectorControlTypes" type="text" matInput placeholder="Collector control types">
         </mat-form-field>
         <div class="ctrl-types-predefined-inputs">
            <button class="link" (click)="appendCollectorControlType('none')">none</button>
         </div>
         <app-conflicting-field-value
            [conflictValue]="conflicts.collectorControlTypes"
            [conflictWhoWhen]="conflictsWhoWhen"
            (dismiss)="conflicts.collectorControlTypes = undefined">
         </app-conflicting-field-value>
      </div>

      <div class="field-area coll-ctrls-growth" [class.conflicted]="conflicts.collectorControlsGrowth !== undefined">
         <mat-radio-group formControlName="collectorControlsGrowth">
            <div>Collector's controls growth</div>
            <div>
               <mat-radio-button [value]="true">growth</mat-radio-button>
               <mat-radio-button [value]="false">no growth</mat-radio-button>
               <mat-radio-button *ngIf="showUnsetAffordances" class="unset" [value]="null">unset</mat-radio-button>
            </div>
         </mat-radio-group>
         <app-conflicting-field-value
            [conflictValue]="conflicts.collectorControlsGrowth"
            [conflictWhoWhen]="conflictsWhoWhen"
            (dismiss)="conflicts.collectorControlsGrowth = undefined">
         </app-conflicting-field-value>
      </div>

   </div> <!-- growth grid -->

   <div class="field-area bacterial-controls" [class.conflicted]="conflicts.bacterialControlsUsed !== undefined">
      <mat-radio-group formControlName="bacterialControlsUsed">
         <div>Bacterial controls used</div>
         <div>
            <mat-radio-button [value]="true">Y</mat-radio-button>
            <mat-radio-button [value]="false">N</mat-radio-button>
            <mat-radio-button *ngIf="showUnsetAffordances" class="unset" [value]="null">unset</mat-radio-button>
         </div>
      </mat-radio-group>
      <app-conflicting-field-value
         [conflictValue]="conflicts.bacterialControlsUsed"
         [conflictWhoWhen]="conflictsWhoWhen"
         (dismiss)="conflicts.bacterialControlsUsed = undefined">
      </app-conflicting-field-value>
   </div>

</form>

