<form class="isolate-row" [class.failed]="failed">

   <app-slant-tube-test
      [form]="form.get('tsiTubeTest')"
      [tubeType]="'TSI'"
      [isolateDescription]="isolateDescription"
      [editingEnabled]="true">
   </app-slant-tube-test>

   <app-slant-tube-test
      [form]="form.controls['liaTubeTest']"
      [tubeType]="'LIA'"
      [isolateDescription]="isolateDescription"
      [editingEnabled]="true">
   </app-slant-tube-test>

   <div class="expanding-flex-space"></div>

   <div class="isolate-actions">
      <mat-menu #actionsMenu="matMenu">
         <span class="menu-header">Actions for isolate # {{isolateNumber}}</span>
         <hr>
         <div class="menu-item">
            <button mat-button class="remove" *ngIf="showDisposeButton"
               (click)="onDisposeRequested()">
               delete isolate <mat-icon>delete_forever</mat-icon>
            </button>
         </div>
         <div class="menu-item">
            <button mat-button class="fail" *ngIf="!this.form.controls.failure"
               (click)="promptEditFailure()">
               Mark isolate as failed <mat-icon>thumb_down</mat-icon>
            </button>
         </div>
         <div class="menu-item">
            <button mat-button class="unfail" *ngIf="!!this.form.controls.failure"
               (click)="clearFailure()">
               Mark isolate as not failed <mat-icon>thumb_up</mat-icon>
            </button>
         </div>
         <div class="menu-item">
            <button mat-button *ngIf="!!this.form.controls.failure"
                    (click)="promptEditFailure()">
               Edit failure information
            </button>
         </div>
      </mat-menu>

      <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
         <mat-icon>more_vert</mat-icon>
      </button>
   </div>

</form>
