<form [formGroup]="testDataForm">

   <div class="sample-op-test">
      <app-sample [sampleOp]="sampleOpTest.sampleOp"></app-sample>
      <div class="test-type">{{sampleOpTest.testMetadata.testTypeShortName}}</div>
   </div>

   <div>
      <h3>PREPARATION</h3>
      <app-stage-prep class="test-stage"
         [form]="testDataForm.get('prepData')"
         [allowDataChanges]="false"
         [sampleOp]="sampleOpTest.sampleOp"
         [appUser]="appUser"
         [showUnsetAffordances]="showUnsetAffordances">
      </app-stage-prep>
   </div>

   <div>
      <h3>PRE-ENRICHMENT</h3>
      <app-stage-pre-enr class="test-stage"
         [form]="testDataForm.get('preEnrData')"
         [allowDataChanges]="false"
         [balances]="balances"
         [incubators]="incubators"
         [samplingMethodChoices]="[]"
         [showUnsetAffordances]="showUnsetAffordances">
      </app-stage-pre-enr>
   </div>

   <div>
      <h3>SELECTIVE-ENRICHMENT</h3>
      <app-stage-sel-enr class="test-stage"
         [form]="testDataForm.get('selEnrData')"
         [allowDataChanges]="false"
         [spiking]="testDataForm.get('preEnrData')?.get('sampleSpike')?.value"
         [waterBaths]="waterBaths"
         [showUnsetAffordances]="showUnsetAffordances">
      </app-stage-sel-enr>
   </div>

   <div>
      <h3>M-BROTH</h3>
      <app-stage-m-broth class="test-stage"
         [form]="testDataForm.get('mBrothData')"
         [allowDataChanges]="false"
         [waterBaths]="waterBaths"
         [showUnsetAffordances]="showUnsetAffordances">
      </app-stage-m-broth>
   </div>

   <div>
      <h3>VIDAS</h3>
      <app-stage-vidas class="test-stage"
         [form]="testDataForm.get('vidasData')"
         [allowDataChanges]="false"
         [testId]="sampleOpTest.testMetadata.testId"
         [attachedFilesByTestPart]="attachedFilesByTestPart"
         [vidasInstruments]="vidasInstruments"
         [sampleTestUnitsCount]="sampleTestUnitsCount"
         [sampleTestUnitsType]="sampleTestUnitsType"
         [spiking]="testDataForm.get('preEnrData')?.get('sampleSpike')?.value"
         [showUnsetAffordances]="showUnsetAffordances">
      </app-stage-vidas>
   </div>

   <div>
      <h3>SLANT</h3>
      <app-pos-cont class="test-stage"
         [form]="testDataForm.get('posContData')"
         [allowDataChanges]="false"
         [testId]="sampleOpTest.testMetadata.testId"
         stage="SLANT"
         [attachedFilesByTestPart]="attachedFilesByTestPart"
         [sampleTestUnitsType]="sampleTestUnitsType"
         [vidasPositiveSampleTestUnitNumbers]="vidasPositiveSampleTestUnitNumbers"
         [testConfig]="testConfig"
         [appUser]="appUser"
         [showUnsetAffordances]="showUnsetAffordances">
      </app-pos-cont>
   </div>

   <div>
      <h3>IDENT</h3>
      <app-pos-cont class="test-stage"
         [form]="testDataForm.get('posContData')"
         [allowDataChanges]="false"
         [testId]="sampleOpTest.testMetadata.testId"
         stage="IDENT"
         [attachedFilesByTestPart]="attachedFilesByTestPart"
         [vidasPositiveSampleTestUnitNumbers]="vidasPositiveSampleTestUnitNumbers"
         [sampleTestUnitsType]="sampleTestUnitsType"
         [testConfig]="testConfig"
         [appUser]="appUser"
         [showUnsetAffordances]="showUnsetAffordances">
      </app-pos-cont>
   </div>

   <div>
      <h3>WRAPUP</h3>
      <app-stage-wrapup class="test-stage"
         [form]="testDataForm.get('wrapupData')"
         [allowDataChanges]="false"
         [showUnsetAffordances]="showUnsetAffordances"
         [sampleOp]="sampleOpTest.sampleOp"
         [labGroupUsers]="labGroupUsers"
         [appUser]="appUser">
      </app-stage-wrapup>
   </div>

   <hr/>

   <div>
      <h3>ACTIVITY LOG</h3>
      <div class="audit-log">
         <app-audit-log-entry *ngFor="let entry of analyzedAuditLogEntries"
            [analyzedEntry]="entry"
            [showSampleMetadata]="false"
            [showTestMetadata]="false"
            [includeDataChangeDetails]="true">
         </app-audit-log-entry>
      </div>
   </div>

   <div class="form-bottom-toolbar">
      <a href="https://www.fda.gov/Food/FoodScienceResearch/LaboratoryMethods/ucm070149.htm" target="_blank">BAM</a>
   </div>

</form>
