<mat-toolbar color="primary">
   <mat-toolbar-row>

      <nav>
         <button mat-button routerLink="/samples" [routerLinkActive]="['active-route']">
            <mat-icon>home</mat-icon> ALIS
         </button>
      </nav>

      <div class="toolbar-center-fill">{{pageTitle$ | async}}</div>

      <span class="user" *ngIf="userCtxSvc.getAuthenticatedUser().getValue()">
         <mat-menu #userMenu="matMenu">
            <button mat-menu-item (click)="onLogoutClicked()">Logout</button>
            <a *ngIf="authenticatedUserIsAdmin$ | async" mat-menu-item routerLink="/register-users">
               Register new users
            </a>
         </mat-menu>
         <button mat-button [matMenuTriggerFor]="userMenu">
            <mat-icon>person</mat-icon> {{authenticatedUserShortName$ | async}} <mat-icon>more_vert</mat-icon>
         </button>
      </span>

   </mat-toolbar-row>
</mat-toolbar>

<app-alert-message></app-alert-message>

<div *ngIf="loading" class="spinner-holder">
   <div class="spinner"></div>
</div>

<router-outlet></router-outlet>
