.toolbar-center-fill {
   flex: 1 1 auto;
   display: flex;
   flex-flow: row nowrap;
   justify-content: center;
}

nav {
   display: flex;
   .active-route {
      background-color: #44e;
   }
}

.user {
   display: flex;
   align-items: center;
   mat-icon {
      margin-right: 3px;
   }
}

.spinner-holder {
   background: white;
   border: 5px solid lightgray;
   border-radius: 65px;
   padding: 15px 10px 5px 15px;
   text-align: center;
   position: absolute;
   left: calc(50vw - 32px);
   top: calc(50vh - 50px);
   z-index: 100;
}

// Pure css spinner from https://loading.io/css/ .
.spinner {
  display: inline-block;
  width: 64px;
  height: 64px;
}

.spinner:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #000;
  border-color: #33f transparent #33f transparent;
  animation: spinner 1.0s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
