<mat-toolbar color="primary" *ngIf="notLoginView$ | async">
   <mat-toolbar-row>
      <nav>
         <button mat-button routerLink="/samples" [routerLinkActive]="['active-route']">
            <mat-icon>home</mat-icon> ALIS
         </button>
         <!-- TODO (minor feature): Re-enable tests search here when backend is modified for api-based sample metadata. -->
         <!--<button mat-button routerLink="/tests-search" [routerLinkActive]="['active-route']">-->
            <!--<mat-icon>search</mat-icon> Search-->
         <!--</button>-->
         <mat-menu #linksMenu="matMenu">
            <a *ngIf="authenticatedUserIsAdmin$ | async" mat-menu-item routerLink="/register-users">
               Register new users
            </a>
            <a *ngIf="authenticatedUserIsAdmin$ | async" mat-menu-item routerLink="/audit-log/review">
               Review audit log
            </a>
         </mat-menu>
         <button mat-icon-button [matMenuTriggerFor]="linksMenu">
            <mat-icon>more_vert</mat-icon>
         </button>
      </nav>

      <div class="toolbar-center-fill">{{pageTitle$ | async}}</div>

      <span class="user" *ngIf="userCtxSvc.getAuthenticatedUser().getValue()">
         <mat-menu #userMenu="matMenu">
            <button mat-menu-item (click)="onLogoutClicked()">Logout</button>
         </mat-menu>
         <button mat-button [matMenuTriggerFor]="userMenu">
            <mat-icon>person</mat-icon> {{authenticatedUserShortName$ | async}} <mat-icon>more_vert</mat-icon>
         </button>
      </span>
   </mat-toolbar-row>
</mat-toolbar>

<app-alert-message></app-alert-message>

<div *ngIf="loading$ | async" class="spinner-holder">
   <div class="spinner"></div>
</div>

<router-outlet></router-outlet>
