<mat-toolbar color="primary">
   <mat-toolbar-row>
      <nav>
         <button mat-button routerLink="/" [routerLinkActive]="['active-route']">
            <mat-icon>home</mat-icon> ALIS
         </button>
         <button mat-button routerLink="/samples" [routerLinkActive]="['active-route']">Samples</button>
      </nav>

      <span class="toolbar-center-fill"></span>

      <span><mat-icon>person</mat-icon> {{authenticatedUser.shortName}}</span>
   </mat-toolbar-row>
</mat-toolbar>

<app-alert-message></app-alert-message>

<div *ngIf="loading" class="spinner-holder">
   <div class="spinner"></div>
</div>

<router-outlet></router-outlet>
