<form [formGroup]="testDataForm" (ngSubmit)="saveTestData('nav-next-stage')">

   <div class="sample-op-test-info">
      <app-sample [sampleOp]="sampleOpTest.sampleOp"></app-sample>

      <div class="test-type">{{sampleOpTest.testMetadata.testTypeShortName}}</div>

      <!-- Button not of type "submit" because many barcode scanners send ENTER key as
           item separator when emulating keyboard. -->
      <button mat-button type="button" *ngIf="allowDataChanges">Save</button>
   </div>

   <mat-horizontal-stepper #testStageStepper>
      <mat-step label="PREP">
         <app-stage-prep class="test-stage"
            [form]="prepForm"
            [allowDataChanges]="allowDataChanges"
            [showUnsetAffordances]="showUnsetAffordances"
            [sampleOp]="sampleOpTest.sampleOp"
            [appUser]="appUser">
         </app-stage-prep>
      </mat-step>

      <mat-step label="PRE-ENR">
         <app-stage-pre-enr class="test-stage"
            [form]="preEnrForm"
            [allowDataChanges]="allowDataChanges"
            [showUnsetAffordances]="showUnsetAffordances"
            [allowFreeformEntryForSelectFields]="allowFreeformEntryForSelectFields"
            [balances]="balances"
            [incubators]="incubators"
            [samplingMethodChoices]="testConfig.samplingMethodChoices"
            (sampleTestUnitsChange)="onSampleTestUnitsChanged($event)">
         </app-stage-pre-enr>
      </mat-step>

      <mat-step label="SEL-ENR">
         <app-stage-sel-enr class="test-stage"
            [form]="selEnrForm"
            [allowDataChanges]="allowDataChanges"
            [showUnsetAffordances]="showUnsetAffordances"
            [allowFreeformEntryForSelectFields]="allowFreeformEntryForSelectFields"
            [spiking]="preEnrForm.get('sampleSpike')?.value"
            [waterBaths]="waterBaths">
         </app-stage-sel-enr>
      </mat-step>

      <mat-step label="M-BROTH">
         <app-stage-m-broth class="test-stage"
            [form]="mBrothForm"
            [allowDataChanges]="allowDataChanges"
            [showUnsetAffordances]="showUnsetAffordances"
            [waterBaths]="waterBaths">
         </app-stage-m-broth>
      </mat-step>

      <mat-step label="VIDAS">
         <app-stage-vidas class="test-stage"
            [form]="vidasForm"
            [allowDataChanges]="allowDataChanges"
            [showUnsetAffordances]="showUnsetAffordances"
            [testId]="sampleOpTest.testMetadata.testId"
            [attachedFilesByTestPart]="attachedFilesByTestPart"
            [vidasInstruments]="vidasInstruments"
            [sampleTestUnitsCount]="sampleTestUnitsCount"
            [sampleTestUnitsType]="sampleTestUnitsType"
            [spiking]="preEnrForm.get('sampleSpike')?.value"
            (positiveSampleTestUnitNumbersChange)="onVidasPositiveSampleTestUnitNumbersChanged($event)">
         </app-stage-vidas>
      </mat-step>

      <mat-step label="SLANT" *ngIf="showPositiveContinuationStages">
         <app-pos-cont #slantPosContComp class="test-stage"
            [form]="posContForm"
            [allowDataChanges]="allowDataChanges"
            [showUnsetAffordances]="showUnsetAffordances"
            [stage]="'SLANT'"
            [testId]="sampleOpTest.testMetadata.testId"
            [attachedFilesByTestPart]="attachedFilesByTestPart"
            [vidasPositiveSampleTestUnitNumbers]="vidasPositiveTestUnitNumbers"
            [sampleTestUnitsType]="sampleTestUnitsType"
            [testConfig]="testConfig"
            [appUser]="appUser">
         </app-pos-cont>
      </mat-step>

      <mat-step label="IDENT" *ngIf="showPositiveContinuationStages">
         <app-pos-cont #identPosContComp class="test-stage"
            [form]="posContForm"
            [allowDataChanges]="allowDataChanges"
            [showUnsetAffordances]="showUnsetAffordances"
            [stage]="'IDENT'"
            [testId]="sampleOpTest.testMetadata.testId"
            [attachedFilesByTestPart]="attachedFilesByTestPart"
            [vidasPositiveSampleTestUnitNumbers]="vidasPositiveTestUnitNumbers"
            [sampleTestUnitsType]="sampleTestUnitsType"
            [testConfig]="testConfig"
            [appUser]="appUser">
         </app-pos-cont>
      </mat-step>

      <mat-step label="WRAPUP">
         <app-stage-wrapup class="test-stage"
            [form]="wrapupForm"
            [allowDataChanges]="allowDataChanges"
            [showUnsetAffordances]="showUnsetAffordances"
            [sampleOp]="sampleOpTest.sampleOp"
            [labGroupUsers]="labGroupUsers"
            [labGroupParentOrgName]="appUser.labGroupFactsParentOrgName"
            [appUser]="appUser">
         </app-stage-wrapup>
      </mat-step>
   </mat-horizontal-stepper>

   <div class="facts-submissions" *ngIf="currentStage === 'WRAPUP'">
      <h1>FACTS Submission</h1>
      <div>
         <div *ngIf="lastAnalysesSubm; else noSubmMsg">
            <div>A previous FACTS analyses submission has been made for this test data:</div>
            <app-facts-submission-result
               [factsSubmissionResult]="lastAnalysesSubm">
            </app-facts-submission-result>
         </div>
         <ng-template class="no-submission"#noSubmMsg>
            No FACTS submission has been made yet.
         </ng-template>
      </div>
      <div class="facts-submission-buttons">
         <button class="facts-save-btn" mat-button type="button"
                 (click)="submitFactsAnalyses()">
            Submit analyses to FACTS
         </button>
         <button class="facts-save-btn" mat-button type="button"
            [disabled]="!(lastAnalysesSubm && lastAnalysesSubm.submissionSucceeded)"
            (click)="saveTimeChargesToFacts()">
            Save work hours to FACTS
         </button>
      </div>
   </div>

   <div class="form-bottom-toolbar">
      <a href="https://www.fda.gov/Food/FoodScienceResearch/LaboratoryMethods/ucm070149.htm" target="_blank">BAM</a>
      <div class="expanding-flex-space"></div>
      <div>
         <mat-menu #optionsMenu="matMenu">
            <button mat-menu-item type="button" *ngIf="allowDataChanges"
                    (click)="toggleShowUnsetAffordances()">
               Toggle showing 'unset' option for supporting fields
            </button>
            <button mat-menu-item type="button" *ngIf="allowDataChanges && userIsAdmin"
                    (click)="toggleAllowFreeformEntryForSelectFields()">
               Allow enabling free form data entry for some select-list fields (via <mat-icon>create</mat-icon> buttons).
            </button>
            <mat-divider></mat-divider>
            <button type="button" mat-menu-item (click)="promptSaveTestDataToFile()">
               <mat-icon class="compound-icon-left">save</mat-icon>
               <mat-icon>arrow_back</mat-icon>
               Save test data to file
            </button>
            <input type="file" #restoreFilesInput style="display:none"
                   (change)="restoreTestDataFromSaveFile($event.target['files'])">
            <button type="button" mat-menu-item *ngIf="allowDataChanges"
                    (click)="restoreFilesInput.click()">
               <mat-icon class="compound-icon-left">save</mat-icon>
               <mat-icon>arrow_forward</mat-icon>
               Restore test data from file
            </button>
            <mat-divider></mat-divider>
         </mat-menu>
         <button mat-button type="button" [matMenuTriggerFor]="optionsMenu">
            <mat-icon>settings</mat-icon>
         </button>
      </div>
      <!-- Button not of type "submit" because many barcode scanners send ENTER key as
           item separator when emulating keyboard. -->
      <button mat-button *ngIf="allowDataChanges" type="button" color="primary">
         Save
      </button>
   </div>

</form>
