.sample-op-test-info {
   display: flex;
   align-items: center;
   margin: 0;

   app-sample {
      flex-grow: 1;
   }
}

.test-stage {
   margin: 25px 5px 5px 5px;
}

.facts-submissions {
   padding: 5px 10px 10px 10px;
   border: 3px solid lightgray;
}

.facts-submission-buttons {
   display: flex;
   justify-content: center;
   margin-top: 10px;
}

app-facts-submission-result {
   margin: 10px;
   padding: 50px;
}

.form-bottom-toolbar {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   margin: 10px 20px;
}

form {
   margin: 5px;
}

.compound-icon-left {
   margin-right: 0;
}

