.sample-op-test-info {
   display: flex;
   align-items: center;
   margin: 0;

   app-sample {
      flex-grow: 1;
   }
}


.test-stage {
   margin: 25px 5px 5px 5px;
}

.form-bottom-toolbar {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   margin: 10px 20px;
}

form {
   margin: 5px;
}

.compound-icon-left {
   margin-right: 0;
}
