<form [formGroup]="testDataForm" (ngSubmit)="saveTestData('nav-next-stage')">

   <div class="sample-op-test-info">

      <app-sample [sampleOp]="sampleOpTest.sampleOp"></app-sample>

      <div class="test-type">{{sampleOpTest.testMetadata.testTypeShortName}}</div>

      <button mat-button type="submit" *ngIf="allowDataChanges">Save</button>

   </div>

   <mat-horizontal-stepper #testStageStepper>
      <mat-step label="PREP">
         <app-stage-prep class="test-stage"
            [form]="testDataForm.get('prepData')"
            [allowDataChanges]="allowDataChanges"
            [showUnsetAffordances]="showUnsetAffordances"
            [sampleOp]="sampleOpTest.sampleOp"
            [appUser]="appUser">
         </app-stage-prep>
      </mat-step>

      <mat-step label="PRE-ENR">
         <app-stage-pre-enr class="test-stage"
            [form]="testDataForm.get('preEnrData')"
            [allowDataChanges]="allowDataChanges"
            [showUnsetAffordances]="showUnsetAffordances"
            [allowFreeformEntryForSelectFields]="allowFreeformEntryForSelectFields"
            [balances]="balances"
            [incubators]="incubators"
            [samplingMethodChoices]="testConfig.samplingMethodChoices"
            (sampleTestUnitsChange)="onSampleTestUnitsChanged($event)">
         </app-stage-pre-enr>
      </mat-step>

      <mat-step label="SEL-ENR">
         <app-stage-sel-enr class="test-stage"
            [form]="testDataForm.get('selEnrData')"
            [allowDataChanges]="allowDataChanges"
            [showUnsetAffordances]="showUnsetAffordances"
            [allowFreeformEntryForSelectFields]="allowFreeformEntryForSelectFields"
            [spiking]="testDataForm.get('preEnrData')?.get('sampleSpike')?.value"
            [waterBaths]="waterBaths">
         </app-stage-sel-enr>
      </mat-step>

      <mat-step label="M-BROTH">
         <app-stage-m-broth class="test-stage"
            [form]="testDataForm.get('mBrothData')"
            [allowDataChanges]="allowDataChanges"
            [showUnsetAffordances]="showUnsetAffordances"
            [waterBaths]="waterBaths">
         </app-stage-m-broth>
      </mat-step>

      <mat-step label="VIDAS">
         <app-stage-vidas class="test-stage"
            [form]="testDataForm.get('vidasData')"
            [allowDataChanges]="allowDataChanges"
            [showUnsetAffordances]="showUnsetAffordances"
            [testId]="sampleOpTest.testMetadata.testId"
            [attachedFilesByTestPart]="attachedFilesByTestPart"
            [vidasInstruments]="vidasInstruments"
            [sampleTestUnitsCount]="sampleTestUnitsCount"
            [sampleTestUnitsType]="sampleTestUnitsType"
            [spiking]="testDataForm.get('preEnrData')?.get('sampleSpike')?.value"
            (positiveSampleTestUnitNumbersChange)="onVidasPositiveSampleTestUnitNumbersChanged($event)">
         </app-stage-vidas>
      </mat-step>

      <mat-step label="SLANT" *ngIf="showPositiveContinuationStages">
         <app-pos-cont #slantPosContComp class="test-stage"
            [form]="testDataForm.get('posContData')"
            [allowDataChanges]="allowDataChanges"
            [showUnsetAffordances]="showUnsetAffordances"
            [stage]="'SLANT'"
            [testId]="sampleOpTest.testMetadata.testId"
            [attachedFilesByTestPart]="attachedFilesByTestPart"
            [vidasPositiveSampleTestUnitNumbers]="vidasPositiveTestUnitNumbers"
            [sampleTestUnitsType]="sampleTestUnitsType"
            [testConfig]="testConfig"
            [appUser]="appUser">
         </app-pos-cont>
      </mat-step>

      <mat-step label="IDENT" *ngIf="showPositiveContinuationStages">
         <app-pos-cont #identPosContComp class="test-stage"
            [form]="testDataForm.get('posContData')"
            [allowDataChanges]="allowDataChanges"
            [showUnsetAffordances]="showUnsetAffordances"
            [stage]="'IDENT'"
            [testId]="sampleOpTest.testMetadata.testId"
            [attachedFilesByTestPart]="attachedFilesByTestPart"
            [vidasPositiveSampleTestUnitNumbers]="vidasPositiveTestUnitNumbers"
            [sampleTestUnitsType]="sampleTestUnitsType"
            [testConfig]="testConfig"
            [appUser]="appUser">
         </app-pos-cont>
      </mat-step>

      <mat-step label="WRAPUP">
         <app-stage-wrapup class="test-stage"
            [form]="testDataForm.get('wrapupData')"
            [allowDataChanges]="allowDataChanges"
            [showUnsetAffordances]="showUnsetAffordances"
            [sampleOp]="sampleOpTest.sampleOp"
            [labGroupUsers]="labGroupUsers"
            [labGroupParentOrgName]="appUser.labGroupFactsParentOrgName"
            [appUser]="appUser"
            (testDataSaveRequest)="saveTestData('nav-home')">
         </app-stage-wrapup>
      </mat-step>

   </mat-horizontal-stepper>

   <div class="form-bottom-toolbar">
      <a href="https://www.fda.gov/Food/FoodScienceResearch/LaboratoryMethods/ucm070149.htm" target="_blank">BAM</a>
      <div class="expanding-flex-space"></div>
      <div>
         <mat-menu #optionsMenu="matMenu">
            <button mat-menu-item type="button" *ngIf="allowDataChanges"
                    (click)="toggleShowUnsetAffordances()">
               Toggle showing 'unset' option for supporting fields
            </button>
            <button mat-menu-item type="button" *ngIf="allowDataChanges && userIsAdmin"
                    (click)="toggleAllowFreeformEntryForSelectFields()">
               Toggle allowing free form data entry for select fields.
            </button>
            <mat-divider></mat-divider>
            <button type="button" mat-menu-item (click)="promptSaveTestDataToFile()">
               <mat-icon class="compound-icon-left">save</mat-icon>
               <mat-icon>arrow_back</mat-icon>
               Save test data to file
            </button>
            <input type="file" #restoreFilesInput style="display:none"
                   (change)="restoreTestDataFromSaveFile($event.target.files)">
            <button type="button" mat-menu-item *ngIf="allowDataChanges"
                    (click)="restoreFilesInput.click()">
               <mat-icon class="compound-icon-left">save</mat-icon>
               <mat-icon>arrow_forward</mat-icon>
               Restore test data from file
            </button>
            <mat-divider></mat-divider>
         </mat-menu>
         <button mat-button type="button" [matMenuTriggerFor]="optionsMenu">
            <mat-icon>settings</mat-icon>
         </button>
      </div>
      <button mat-button *ngIf="allowDataChanges" type="submit" color="primary">
         Save
      </button>
   </div>

</form>
