.slant-data-ro {
   display: flex;
   align-items: center;
}

.colony-appearance-ro {
   padding: 2px;
   border: 1px solid lightgray;
   border-radius: 5px;
   min-width: 22px;
   min-height: 10px;
   margin-right: 2px;
}

.oxidase-ro {
   min-width: 10px;
   min-height: 10px;
   margin: 2px;
   padding: 2px;
}
