<div class="slant-data-ro">

   <div class="colony-appearance-ro">{{(form.get('colonyAppearance').value)}}</div>

   <app-isolate-slant-tube-view *ngIf="form.get('tsiTubeTest')" [form]="form.get('tsiTubeTest')">
   </app-isolate-slant-tube-view>

   <app-isolate-slant-tube-view *ngIf="form.get('liaTubeTest')" [form]="form.get('liaTubeTest')">
   </app-isolate-slant-tube-view>

   <span class="urea-ro">
      Ur{{form.get(['ureaDetection']).value === true ? '+' : form.get(['ureaDetection']).value === false ? '&minus;' : ''}}
   </span>

   <span class="oxidase-ro" *ngIf="includeOxidase">
      Ox{{form.get(['oxidaseDetection']).value === true ? '+' : form.get(['oxidaseDetection']).value === false ? '&minus;' : ''}}
   </span>

</div>
