<div [formGroup]="form">

   <div class="diffs-vs-vidas-positives-area" *ngIf="testUnitNumbersDiffMessage">
      <div class="message"
           [ngClass]="{'warn': testUnitNumbersDiffMessageIsWarning, 'ok': !testUnitNumbersDiffMessageIsWarning}">
         {{testUnitNumbersDiffMessage}}
         <span *ngIf="testUnitNumbersDiff && testUnitNumbersDiff.unrepresentedVidasPositives.length > 0">
            <button class="link" (click)="addUnrepresentedVidasPositivesContinuationTestsFormGroups()"
                    *ngIf="!form.disabled">
               Add Vidas positives.
            </button>
         </span>
      </div>
   </div>

   <div *ngIf="formInitialized">

      <div class="test-units-area">
         <app-one-pos-test-unit-cont-tests *ngFor="let testUnitFormGroup of testUnitsFormArray.controls; let i = index"
            [form]="testUnitFormGroup"
            [showDisposeButton]="true"
            [sampleTestUnitsTypeAbrev]="sampleTestUnitsTypeAbrev"
            (disposeRequested)="removeTestUnitAtIndex(i)"
            (testUnitNumberChange)="onRepresentedTestUnitNumberChanged()">
         </app-one-pos-test-unit-cont-tests>
      </div>

      <!--TODO: Mimic add test button here (yellow or green +).-->
      <button mat-button (click)="addOnePositiveTestUnitContinuationTestsFormGroup()" *ngIf="!form.disabled">
         Add positive sub/composite
      </button>

      <div class="controls-area">
         <!-- TODO
          salmonellaGaminara: makeSelectiveAgarsTestSuiteFormGroup(posContControlsData.salmonellaGaminara),
          salmonellaDiarizonae: makeSelectiveAgarsTestSuiteFormGroup(posContControlsData.salmonellaDiarizonae),
          salmonellaControlsSatisfactory: new FormControl(posContControlsData.salmonellaControlsSatisfactory),
          pVulgarisApiVitekDetection: new FormControl(posContControlsData.pVulgarisApiVitekDetection),
          pVulgarisControlSatisfactory: new FormControl(posContControlsData.pVulgarisControlSatisfactory),
          pAerugiOxidaseDetection: new FormControl(posContControlsData.pAerugiOxidaseDetection),
          pAerugiControlSatisfactory: new FormControl(posContControlsData.pAerugiControlSatisfactory),
          medium: makeSelectiveAgarsTestSuiteFormGroup(posContControlsData.medium),
         -->
      </div>

   </div>

</div>
