.sample-in-test-information {
   display: flex;
   align-items: center;
   margin: 0;
}

app-sample {
   flex: 1 0 auto;
}

h2 {
   text-align: center;
}

.content-stack {
   display: flex;
   flex-flow: column nowrap;
   align-items: center;
   margin: 30px;
}

.table-container {
   th, td {
      padding: 0 20px;
   }
   width: 75%;
}

.no-files-message {
   display: flex;
   min-width: 200px;
   justify-content: center;
   margin: 15px;

   span {
      color: white;
      background-color: darkgray;
      padding: 10px;
   }
}

.new-attachments-area {
   display: flex;
   flex-flow: column nowrap;
   align-items: center;
   width: 100%;
   margin: 30px;

   form {
      * {
         margin: 0 10px;
      }
   }
}

.files-selector {
   width: 75%;
}
