<div class="sample-op-test-information" *ngIf="sampleOpTest">
   <app-sample [sampleOp]="sampleOpTest.sampleOp"></app-sample>
   <div class="test-type">{{sampleOpTest.testMetadata.testTypeShortName}}</div>
</div>

<div class="content-stack">

   <div class="table-container mat-elevation-z8" *ngIf="attachedFilesTableDataSource.data.length > 0; else noFiles">

      <table mat-table [dataSource]="attachedFilesTableDataSource">

         <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let af">
               <button mat-icon-button (click)="promptUpdateFileMetadata(af)" type="button">
                  <mat-icon>edit</mat-icon>
               </button>
            </td>
         </ng-container>

         <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Attached File</th>
            <td mat-cell *matCellDef="let af">
               <button class="link" (click)="promptDownloadFile(af)" type="button">{{af.fileName}}</button>
            </td>
         </ng-container>

         <ng-container matColumnDef="label">
            <th mat-header-cell *matHeaderCellDef>Label</th>
            <td mat-cell *matCellDef="let af">
               {{af.label}}
            </td>
         </ng-container>

         <ng-container matColumnDef="ordering">
            <th mat-header-cell *matHeaderCellDef>Ordering</th>
            <td mat-cell *matCellDef="let af">
               {{af.ordering}}
            </td>
         </ng-container>

         <ng-container matColumnDef="uploaded">
            <th mat-header-cell *matHeaderCellDef>Uploaded</th>
            <td mat-cell *matCellDef="let af">
               {{af.uploadedInstant | date: 'MMM d h:mm a'}}
            </td>
         </ng-container>

         <ng-container matColumnDef="size">
            <th mat-header-cell *matHeaderCellDef>Size</th>
            <td mat-cell *matCellDef="let af">
               {{af.size/1000 | number: '1.0-0'}} KB
            </td>
         </ng-container>

         <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let af">
               <button mat-icon-button (click)="removeAttachedFile(af)" type="button">
                  <mat-icon>delete_forever</mat-icon>
               </button>
            </td>
         </ng-container>

         <tr mat-header-row *matHeaderRowDef="allowDataChanges ? allDisplayColumns : noDataChangesDisplayColumns"></tr>
         <tr mat-row *matRowDef="let row; columns: allDisplayColumns"></tr>

      </table>

      <mat-paginator
         #attachedFilesPaginator
         [pageSize]="25"
         [pageSizeOptions]="[25, 50, 100, 1000]"
         [showFirstLastButtons]="true">
      </mat-paginator>

   </div> <!-- table container -->

   <ng-template #noFiles>
      <div class="no-files-message"><span>< No files are attached. ></span></div>
   </ng-template>

   <div class="new-attachments-area" *ngIf="allowDataChanges">

      <form [formGroup]="newAttachmentsForm">

         <button mat-raised-button color="primary" type="button"
                 (click)="submitNewAttachments()"
                 [disabled]="newAttachmentsForm.invalid || filesSelector.selectedFiles.length === 0">
            Attach the below files
         </button>

         <span>with label</span>

         <mat-form-field>
            <input matInput formControlName="label" placeholder="enter label (optional)">
         </mat-form-field>

         <mat-form-field>
            <input matInput type="number" formControlName="ordering" placeholder="enter ordering">
         </mat-form-field>

      </form>

      <app-files-selector class="files-selector" #filesSelector></app-files-selector>

   </div> <!-- new attachments area -->

</div>
