<div class="main-row" [formGroup]="form" (click)="promptEditSlantTubeTest(tubeType)"
   [ngClass]="{editable: editingEnabled}">

   <div class="tube-label" matTooltip="edit slant tube results">{{tubeType}}</div>

   <div class="field" matTooltip="slant">{{form.get('slant').value}}</div>

   <div class="field" matTooltip="butt">{{form.get('butt').value}}</div>

   <div class="field" matTooltip="H2S">{{form.get('h2s').value}}</div>

   <div class="field" matTooltip="gas">{{form.get('gas').value}}</div>

</div>
