.test-metadata {
   padding: 0 5px 0 0;
}

.test-overview {
   display: flex;
   flex-flow: row wrap;
   align-items: stretch;
   justify-content: flex-start;

   .test-type {
      cursor: pointer;
      &:hover {
         color: blue;
         text-decoration: underline;
      }
   }

   .elapsed {
      flex-grow: 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border: 2px solid lightgray;
      border-right-width: 5px;
      border-left-width: 5px;
      padding: 0 6px;

      .day-icon-stack {
         display: flex;
         flex-flow: column nowrap;
         align-items: center;
         font-size: 60%;
      }
      .day-number {
         margin-left: 3px;
         font-size: 250%;
         font-weight: bold;

      }
   }

   .reports-and-files {
      display: flex;
      flex-flow: column nowrap;
      .reports .link {
         display: flex;
         align-items: center;
      }
      .files {
         display: flex;
         align-items: center;
      }
   }

   .last-test-status-action {
      flex-grow: 0;
      text-align: center;
      margin: 4px 0px;
      border: 3px solid lightgray;
      padding: 3px 5px;
      font-size: small;
      .action-instant {
         font-weight: bold;
      }
      .action-employee {
         display: flex;
         justify-content: center;
         align-items: center;
         mat-icon {
            margin: 0;
         }
      }
   }

   > * {
      margin: 3px 10px;
   }
}

.stage-statuses {
   display: flex;
   align-items: center;
   border: 2px solid lightgray;
   border-right-width: 5px;
   border-left-width: 5px;
   margin: 0 5px;

   app-test-stage-status {
      margin: 0 7px;
   }
}

.note {
   mat-icon {
      color: cadetblue;
   }
}

