<mat-card class="test-metadata">

   <div class="test-overview">

      <div class="test-type"
         (click)="onTestClicked()">
         {{test.testTypeShortName}}
      </div>

      <div class="elapsed">
         <div class="day-icon-stack">
            <mat-icon>event</mat-icon>
            <span class="day-label">day</span>
         </div>
         <span class="day-number">{{test.beginDate | dayNumber}}</span>
      </div>

      <div *ngIf="stageStatuses" class="stage-statuses">
         <app-test-stage-status *ngFor="let status of stageStatuses"
            [status]="status"
            (click)="onStageClicked(status.stageName)">
         </app-test-stage-status>
      </div>

      <div class="expanding-flex-space"></div>

      <div *ngIf="test.note" class="note">
         <mat-icon>comment</mat-icon>
         <!--TODO: Truncate the note if longer than ~10 chars, with clickable "..." button to view the full note. -->
         {{test.note}}
      </div>

      <div class="last-test-status-action" *ngIf="testStatusActions.length > 0">
         <div class="action-employee"><mat-icon>person</mat-icon>{{testStatusActions[0].employeeShortName}} {{testStatusActions[0].action}}</div>
         <div class="action-instant">{{testStatusActions[0].timestamp | date: 'MMM d h:mm a'}}</div>
      </div>

   </div>

</mat-card>
