<div class="test-metadata">

   <div class="test-overview">

      <div class="test-type">
         <button class="link" (click)="onTypeClicked()">{{test.testTypeShortName}}</button>
      </div>

      <div class="elapsed">
         <div class="day-icon-stack">
            <mat-icon>event</mat-icon>
            <span class="day-label">day</span>
         </div>
         <span class="day-number">{{test.beginDate | dayNumber}}</span>
      </div>

      <div *ngIf="stageStatuses" class="stage-statuses">
         <ng-container *ngFor="let status of stageStatuses">
            <app-test-stage-status *ngIf="status.stageStatus !== 'n'"
               [status]="status"
               (click)="onStageClicked(status.stageName)">
            </app-test-stage-status>
         </ng-container>
      </div>

      <div class="expanding-flex-space"></div>

      <div class="reports-and-files-stack">
         <div class="reports">
            <mat-icon>visibility</mat-icon>
            <button class="link" (click)="onReportsClicked()">Reports</button>
         </div>
         <div class="files">
            <mat-icon>attach_file</mat-icon>
            <button class="link" (click)="onAttachedFilesClicked()">{{test.attachedFilesCount}} files</button>
         </div>
      </div>

      <div class="last-test-status-action" *ngIf="testStatusActions.length > 0">
         <div class="action-employee">
            <mat-icon>person</mat-icon>
            {{testStatusActions[0].employeeShortName}} {{testStatusActions[0].action}}
         </div>
         <div class="action-instant">
            {{testStatusActions[0].timestamp | date: 'MMM d h:mm a'}}
         </div>
      </div>

   </div>

</div>
