<mat-card class="test-metadata">

   <div class="test-overview">

      <div class="test-type" [matTooltip]="test.testTypeName">
         {{test.testTypeShortName}}
      </div>

      <div class="elapsed" [matTooltip]="'test begin date: ' + test.beginDate">
         <div class="day-icon-stack">
            <mat-icon>event</mat-icon>
            <span class="day-label">day</span>
         </div>
         <span class="day-number">{{test.beginDate | dayNumber}}</span>
      </div>

      <!--TODO: Maybe show these in "more info" popup. -->
      <!--createdInstant: string;-->
      <!--createdByEmpShortName: string;-->

      <div class="stage-statuses">
         <app-test-stage-status *ngFor="let status of stageStatuses" [status]="status"></app-test-stage-status>
      </div>

      <div class="expanding-flex-space"></div>

      <div *ngIf="test.note" class="note">
         <mat-icon>comment</mat-icon>
         {{test.note}}
      </div>

      <div class="last-saved-stack">
         <div class="last-saved-instant">Saved {{test.lastSavedInstant | date: 'MMM-dd h:mm a'}}</div>
         <div class="last-saved-by">by <mat-icon>person</mat-icon>{{test.lastSavedByEmpShortName}}</div>
      </div>


      <!--TODO: Add statuses if reviewed or save to FACTS. -->
      <!--reviewedInstant?: string;-->
      <!--reviewedByEmpShortName?: string;-->
      <!--savedToFactsInstant?: string;-->

      <!--<span *ngIf="test.savedToFactsInstant">-->
      <!--<mat-icon class="saved-to-facts-icon">cloud_done</mat-icon>-->
      <!--{{test.savedToFactsInstant | date: 'medium'}}-->
      <!--</span>-->

   </div>


   <!-- TODO: Add actions on the test here, for example to associate resources, edit etc. -->

   <!--<mat-card-footer>-->


   <!--</mat-card-footer>-->

</mat-card>
