.test-metadata {
   padding: 10px 5px 5px 30px;
}

.test-overview {
   display: flex;
   flex-flow: row wrap;
   align-items: stretch;
   justify-content: flex-start;

   .test-type {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      padding: 5px;
      width: 250px;
      text-align: center;
      border: 3px solid darkgray;
      background: beige;
      font-size: 120%;
   }

   .elapsed {
      flex-grow: 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border-left: 5px solid lightgray;
      border-right: 5px solid lightgray;
      padding: 0 6px;

      .day-icon-stack {
         display: flex;
         flex-flow: column nowrap;
         align-items: center;
      }
      .day-label {
         font-size: 85%;
      }
      .day-number {
         margin-left: 3px;
         font-size: 300%;
         font-weight: bold;

      }
   }

   .last-saved-stack {
      flex-grow: 0;
      text-align: center;
      margin: 0px 10px;
      .last-saved-by {
         display: flex;
         justify-content: center;
         align-items: center;
         mat-icon {
            margin: 0 2px 0 3px;
         }
      }
   }

   > * {
      margin: 3px 10px;
   }
}

.stage-statuses {
   display: flex;
   align-items: center;
   border: 2px solid lightgray;
   margin: 0px 10px;

   app-test-stage-status {
      margin: 0px 7px;
   }
}

.note {
   mat-icon {
      color: cadetblue;
   }
}

.saved-to-facts-icon {
   color: green;
}
