<h2 mat-dialog-title>Create New Test</h2>

<app-sample [sample]="data.sampleOp"></app-sample>

<mat-dialog-content>

   <div class="test-type">
      <mat-form-field>
         <mat-select placeholder="Test type" [(ngModel)]="data.selectedTestType">
            <mat-option [value]="null"></mat-option>
            <mat-option *ngFor="let testType of data.availableTestTypes" [value]="testType.code">
               {{testType.name}}
            </mat-option>
         </mat-select>
      </mat-form-field>
   </div>

   <div class="begin-date">
      <mat-form-field>
         <input matInput [(ngModel)]="data.beginDate" [matDatepicker]="datepicker" placeholder="Test begin date">
         <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
         <mat-datepicker #datepicker></mat-datepicker>
      </mat-form-field>
   </div>

</mat-dialog-content>

<mat-dialog-actions>
   <button mat-button mat-dialog-close>Cancel</button>
   <button mat-button [mat-dialog-close]="data" color="primary" [disabled]="!data.beginDate || !data.selectedTestType">
      Create Test
   </button>
</mat-dialog-actions>

