@import '../common-test-stage-styles';

.growth-grid {
   display: grid;
   grid-template-columns: 1fr 1fr 2fr;
   justify-items: start;
   align-items: center;
   margin-top: 5px;
   width: 80%;
}
// IE 11 needs row and column specified explicitly for each grid item. Autoprefixer is handling minor fixups also.

.sys-ctrls-row-lbl {
   grid-row: 1;
   grid-column: 1;
   padding: 10px 5px;
   font-weight: bold;
}

.sys-ctrl-types {
   grid-row: 1;
   grid-column: 2;
   margin-bottom: 30px;
}
.coll-ctrl-types {
   grid-row: 2;
   grid-column: 2;
}

.sys-ctrls-growth {
   grid-row: 1;
   grid-column: 3;
}

.coll-ctrls-row-lbl {
   grid-row: 2;
   grid-column: 1;
   padding: 10px 5px;
   font-weight: bold;
}
.coll-ctrls-growth {
   grid-row: 2;
   grid-column: 3;
}

.bacterial-controls {
   margin-top: 30px;
}

.ctrl-types-predefined-inputs {
   display: flex;
   flex-flow: row wrap;
   margin-top: -5px;
   button {
      margin-right: 5px;
      color: lightgray;
   }
}


