mat-dialog-content {
   display: flex;
   flex-flow: row wrap;
   align-items: center;
   justify-content: center;
}

.field {
   display: flex;
   flex-flow: column nowrap;
   align-items: center;
   margin: 10px;
   width: 50px;
}
mat-radio-group {
   display: flex;
   flex-flow: column nowrap;
   align-items: flex-start;
}

mat-dialog-actions {
   justify-content: flex-end;
}

