<div class="query-control-row">

   <app-tests-search-query
      [initialQuery]="defaultQuery"
      (queryChanged)="queryChanged($event)">
   </app-tests-search-query>

   <button mat-button class="query-button" type="button" (click)="doQuery()">Search</button>

</div>


<div>
   <app-sample *ngFor="let sampleOp of resultSampleOps | async"
               [sampleOp]="sampleOp"
      [showAssociatedItems]="true"
      [showAssociatedItemsSummaryInSampleMetadata]="true"
      [showTestDeleteButtons]="false"
      (headerClick)="toggleSampleExpanded(sampleOp.opId)">
   </app-sample>
</div>


