<app-tests-search-query
   [initialQuery]="defaultQuery"
   (queryChanged)="queryChanged($event)">
</app-tests-search-query>

<button mat-button type="button" (click)="doQuery()">Search</button>

<div>
   <div class="sample-container" *ngFor="let sample of resultSamples | async">
      <app-sample
         [sample]="sample"
         [showAssociatedItems]="expandedSampleIds.has(sample.id)"
         [showAssociatedItemsSummaryInSampleMetadata]="true"
         [showTestDeleteButtons]="false"
         (headerClick)="toggleSampleExpanded(sample.id)">
      </app-sample>
   </div>
</div>


