.query-control-row {
   display: flex;
   flex-flow: row nowrap;
   align-items: center;
}

.query-button {
   margin-left: 20px;
   background-color: limegreen;
   color: white;
}

.clear-query {
   margin-left: 10px;
   font-size: smaller;
}

.results-summary-row {
   display: flex;
   justify-content: center;
   color: #888;
   margin-bottom: 15px;
}
