<div class="query-control-row">

   <app-tests-search-query
      [initialQuery]="defaultQuery"
      [testTypeSearchScopes]="searchContext.testTypeSearchScopes"
      [labTestTypes]="labTestTypes$ | async"
      (queryClick)="doQuery($event)">
   </app-tests-search-query>

</div>

<div class="results-summary-row" *ngIf="numTestsInResults != null">
   {{numTestsInResults}} test{{numTestsInResults > 1 ? 's' : ''}} in
   {{numSamplesInResults}} sample{{numSamplesInResults > 1 ? 's' : ''}}
</div>

<div>
   <app-sample *ngFor="let sampleOp of resultSampleOps | async"
      [sampleOp]="sampleOp"
      [showAssociatedItems]="true"
      [showAssociatedItemsSummaryInSampleMetadata]="true"
      [allowDataChanges]="false"
      [showEmployeeAssignments]="false"
      (headerClick)="toggleSampleExpanded(sampleOp.opId)"
      (testClick)="onTestClicked($event)"
      (testStageClick)="onTestStageClicked($event)"
      (attachedFilesClick)="onTestAttachedFilesClicked($event)"
      (testReportsClick)="onTestReportsClicked($event)">
   </app-sample>
</div>
