<form [formGroup]="form">
   <div formGroupName="samplingMethod" class="sampling-method area">
      <mat-form-field>
         <input formControlName="numberOfComposites" type="number" min="0" step="1" matInput
                placeholder="Number of composites">
      </mat-form-field>
      <mat-form-field>
         <input formControlName="numberOfSubsPerComposite" type="number" min="0" step="1" matInput
                placeholder="Number of subs per composite">
      </mat-form-field>
      <mat-form-field>
         <input formControlName="extractedGramsPerSub" type="number" min="0" step="1" matInput
                placeholder="Extracted mass per sub, grams">
      </mat-form-field>
      <mat-form-field>
         <input formControlName="numberOfSubs" type="number" min="0" step="1" matInput
                placeholder="Number of subs">
      </mat-form-field>
      <mat-form-field>
         <input formControlName="compositeMassGrams" type="number" min="0" step="1" matInput
                placeholder="Composite mass, grams">
      </mat-form-field>
   </div>

   <div class="resource-identifiers area">
      <mat-form-field>
         <mat-select formControlName="balanceId" placeholder="Balance" *ngIf="balances; else textInputBalance">
            <mat-option [value]="null"></mat-option>
            <mat-option *ngFor="let labRsc of balances" [value]="labRsc.code">
               {{labRsc.code}}{{labRsc.description ? ' - ' + labRsc.description : ''}}
            </mat-option>
         </mat-select>
         <ng-template #textInputBalance>
            <input formControlName="balanceId" type="text" matInput placeholder="Balance">
         </ng-template>
      </mat-form-field>
      <mat-form-field>
         <input formControlName="blenderJarId" type="text" matInput
                placeholder="Blender jar">
      </mat-form-field>
      <mat-form-field>
         <input formControlName="bagId" type="text" matInput
                placeholder="Bag">
      </mat-form-field>
      <mat-form-field>
         <input formControlName="mediumBatchId" type="text" matInput
                placeholder="Medium Batch">
      </mat-form-field>
      <mat-form-field>
         <mat-select formControlName="incubatorId" placeholder="Incubator" *ngIf="incubators; else textInputIncubator">
            <mat-option [value]="null"></mat-option>
            <mat-option *ngFor="let labRsc of incubators" [value]="labRsc.code">
               {{labRsc.code}}{{labRsc.description ? ' - ' + labRsc.description : ''}}
            </mat-option>
         </mat-select>
         <ng-template #textInputIncubator>
            <input formControlName="incubatorId" type="text" matInput placeholder="Incubator">
         </ng-template>
      </mat-form-field>
   </div>

   <div class="spiking-and-controls area">

      <mat-radio-group formControlName="sampleSpike">
         <div>Sample spiking</div>
         <div>
            <mat-radio-button [value]="true">Y</mat-radio-button>
            <mat-radio-button [value]="false">N</mat-radio-button>
            <mat-radio-button [value]="null">NA</mat-radio-button>
         </div>
      </mat-radio-group>
      <mat-form-field>
         <input formControlName="spikePlateCount" type="number" min="0" step="1" matInput placeholder="Spike plate count">
      </mat-form-field>

      <mat-radio-group formControlName="positiveControlGrowth">
         <div>Positive control growth</div>
         <div>
            <mat-radio-button [value]="true">Y</mat-radio-button>
            <mat-radio-button [value]="false">N</mat-radio-button>
            <mat-radio-button [value]="null">NA</mat-radio-button>
         </div>
      </mat-radio-group>

      <mat-radio-group formControlName="mediumControlGrowth">
         <div>Medium control growth</div>
         <div>
            <mat-radio-button [value]="true">Y</mat-radio-button>
            <mat-radio-button [value]="false">N</mat-radio-button>
            <mat-radio-button [value]="null">NA</mat-radio-button>
         </div>
      </mat-radio-group>
   </div>

</form>

