@import '../common-test-stage-styles';

.area {
   margin: 5px 20px 5px 5px;
}

.sampling-method {
   display: flex;
   flex-flow: column nowrap;
   align-items: flex-start;
   border: 2px solid #eee;
   padding: 5px 10px;

   .title-row {
      .title {
         font-weight: bold;
         font-size: 110%;
         margin-right: 30px;
      }
      .title-hint-text {
         font-size: smaller;
         font-weight: lighter;
      }
   }

   .sampling-method-numbers {
      display: flex;
      flex-flow: row wrap;
      mat-form-field {
         margin-right: 10px;
      }
   }
   .exceptions {
      width: 100%;
      align-items: flex-start;
      mat-form-field {
         width: 97%;
      }
   }
}

.resource-identifiers {
   display: flex;
   flex-flow: row wrap;
   align-items: center;

   button.toggle-select {
      mat-icon {
         font-size: smaller;
      }
   }

   .apply-resources-btn {
      background-color: $batch-resource-background-color;
      margin-left: 20px;
   }

   app-field-assigned-resources {
      width: 100%;
   }

}

.spiking-and-controls {
   display: flex;
   mat-radio-group, mat-form-field {
      margin-right: 15px;
   }
}

.bottom-bar {
   display: flex;
   flex-flow: row nowrap;
}
