@import '../common-test-stage-styles';

.area {
   margin: 10px 20px 10px 5px;
}

.sampling-method {
   display: flex;
   flex-flow: row wrap;
   mat-form-field {
      margin-right: 20px;
   }
}
.resource-identifiers {
   display: flex;
   flex-flow: row wrap;
}

.spiking-and-controls {
   display: flex;
   mat-radio-group, mat-form-field {
      margin-right: 20px;
   }
}

mat-radio-button {
   margin-left: 5px;
   margin-right: 5px;
}

