.slant-tube-ro {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   padding: 2px;
   margin: 0 1px;
   border: 1px solid gray;
   border-radius: 5px;
}

.slant-tube-field-ro {
   min-width: 10px;
   min-height: 10px;
}

