.sections-row {
   display:flex;
   flex-flow: row wrap;
   align-items: flex-start;
}

.field-column {
   display: flex;
   flex-flow: column nowrap;
   align-items: stretch;
   margin: 5px;
}

.section-label {
   font-weight: bold;
   margin: 5px;
   padding: 5px 5px 0 5px;
   border-bottom: 3px solid darkgray;
   text-align: center;
}

