<form [formGroup]="form">

   <div class="row">

      <div class="field-area"
           [class.batch-resource-matched]="resourceAssignments.hasAssignedOrAppliedResources('mBrothBatchId')">
         <mat-form-field>
            <input formControlName="mBrothBatchId" type="text" matInput placeholder="M broth batch">
         </mat-form-field>
         <app-field-assigned-resources *ngIf="allowDataChanges"
            [resourceCodes]="resourceAssignments.getAssignedResourceCodesForControl('mBrothBatchId')"
            (select)="resourceAssignments.applyAssignedResourceToControl($event, 'mBrothBatchId')"
            (remove)="resourceAssignments.removeAssignedResourceCodeForControl($event, 'mBrothBatchId')"
            (removeAll)="resourceAssignments.removeAllResourceAssignmentsForControl('mBrothBatchId')">
         </app-field-assigned-resources>
      </div>

      <button class="apply-resources-btn" *ngIf="allowDataChanges" type="button"
              (click)="promptApplyResources()"
              mat-icon-button color="accent">
         <mat-icon>flash_on</mat-icon>
      </button>

   </div>

   <div class="row">

      <div class="field-area">
         <mat-form-field>
            <mat-select formControlName="mBrothWaterBathId"*ngIf="waterBaths; else textInputWaterBath"
                        (selectionChange)="onWaterbathSelected()"
                        placeholder="Water bath">
               <mat-option [value]="null"></mat-option>
               <mat-option *ngFor="let labRsc of waterBaths" [value]="labRsc.code">
                  {{labRsc.code}}{{labRsc.description ? ' - ' + labRsc.description : ''}}
               </mat-option>
            </mat-select>
            <ng-template #textInputWaterBath>
               <input formControlName="mBrothWaterBathId" type="text" matInput placeholder="Water bath">
            </ng-template>
         </mat-form-field>
      </div>

      <div class="field-area">
         <div class="row">
            <mat-form-field>
               <input formControlName="waterBathStarted" type="text" matInput placeholder="Water bath started">
            </mat-form-field>
            <span class="started-helpers" *ngIf="allowDataChanges">
                <span class="start-now">
                   <mat-icon>arrow_back</mat-icon>
                   <button class="link now-time" type="button"
                           (click)="setStartTimeNow()">
                      now
                   </button>
                </span>
                <span class="format-msg">YYYY-MM-DD HH:mm[:ss]</span>
            </span>
         </div>
      </div>

   </div>

</form>
