<form [formGroup]="form">

   <div class="main-row">

      <div class="criteria-group search">
         <mat-icon>search</mat-icon>
         <mat-form-field>
            <input formControlName="searchText" matInput placeholder="search">
         </mat-form-field>
      </div>

      <div class="criteria-group">
         <mat-form-field>
            <input matInput formControlName="fromTimestamp" [matDatepicker]="fromDatepicker"
                   (click)="fromDatepicker.open()"
                   placeholder="from date">
            <mat-datepicker-toggle matSuffix [for]="fromDatepicker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #fromDatepicker></mat-datepicker>
         </mat-form-field>
      </div>

      <div class="criteria-group">
         <mat-form-field>
            <input matInput formControlName="toTimestamp" [matDatepicker]="toDatepicker"
                   (click)="toDatepicker.open()"
                   placeholder="to date">
            <mat-datepicker-toggle matSuffix [for]="toDatepicker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #toDatepicker></mat-datepicker>
         </mat-form-field>
      </div>

      <div class="criteria-group">
         <mat-form-field>
            <mat-select formControlName="timestampPropertyName" placeholder="time property">
               <mat-option [value]="'created'">created</mat-option>
               <mat-option [value]="'last_saved'">last saved</mat-option>
               <mat-option [value]="'begin_date'">begin date</mat-option>
               <mat-option [value]="'reviewed'">reviewed</mat-option>
               <mat-option [value]="'saved_to_facts'">saved to FACTS</mat-option>
            </mat-select>
         </mat-form-field>
      </div>

      <div class="criteria-group">
         <mat-form-field>
            <mat-select formControlName="testTypeCode" placeholder="test type" (valueChange)="onTestTypeChanged($event)">
               <mat-option [value]="null"></mat-option>
               <mat-option *ngFor="let tt of labTestTypes" [value]="tt.code">{{tt.name}}</mat-option>
            </mat-select>
         </mat-form-field>
      </div>

      <div class="criteria-group">
         <mat-form-field>
            <mat-select formControlName="testTypeSearchScopeName"
                        [placeholder]="form.get('testTypeSearchScopeName').value ? 'search scope' : 'search scope - full text'">
               <mat-option [value]="null"><b>full text</b></mat-option>
               <mat-option *ngFor="let ss of searchScopesForSelectedTestType" [value]="ss.scopeName">
                  <b>{{ss.scopeName}}</b> - {{ss.scopeDescription}}
               </mat-option>
            </mat-select>
         </mat-form-field>
      </div>

      <button mat-button class="query-button" type="button" (click)="onQueryClicked()">Search</button>

      <button class="clear-query link" type="button" (click)="clearSearch()">
         clear
      </button>

   </div>

</form>

