.isolate-row {
   display: flex;
   flex-flow: row wrap;
   align-items: center;
   &.failed {
      background: // striped background
         repeating-linear-gradient(
               45deg,
               transparent,
               transparent 10px,
               #ccc 10px,
               #ccc 20px
         ),
         linear-gradient(
               to bottom,
               #eee,
               #999
         );
   }
}

.isolate-num {
   font-weight: bold;
   margin: 0 5px 0 2px;
   padding: 2px;
   border: 1px solid gray;
   min-width: 22px;
   text-align: center;
}

.menu-header {
   margin: 0 10px;
   font-weight: bold;
   color: #888;
}

button.remove mat-icon {
   color: red;
}


.ident-editing-area {
   display: flex;
   flex-flow: row nowrap;
   align-items: center;
   margin: 0 10px;
}

