<form [formGroup]="form">

   <div class="received-fields">

      <span class="field-area">
         <mat-form-field>
            <input matInput formControlName="sampleReceivedDate" [matDatepicker]="rcvdDatepicker"
                   (click)="rcvdDatepicker.open()"
                   (change)="onSampleReceivedDateChanged()"
                   placeholder="Sample received date">
            <mat-datepicker-toggle matSuffix [for]="rcvdDatepicker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #rcvdDatepicker></mat-datepicker>
         </mat-form-field>
      </span>

      <span class="field-area">
         <mat-form-field>
            <input type="text" matInput placeholder="Received from" formControlName="sampleReceivedFrom">
         </mat-form-field>
      </span>

      <span class="received-autofill" *ngIf="allowDataChanges">
          <mat-icon>arrow_back</mat-icon>
          Select from
          <button class="link" type="button"
                  (click)="promptGetReceivedFieldsFromFacts()">
             FACTS transfers
          </button>
      </span>

   </div> <!-- received fields -->

   <div class="label-attachment-type field-area">
      <span>
         <span class="label">Labeling</span>
         <mat-radio-group formControlName="labelAttachmentType">
            <mat-radio-button value="NONE">none available</mat-radio-button>
            <mat-radio-button value="ATTACHED_ORIGINAL">attached original</mat-radio-button>
            <mat-radio-button value="ATTACHED_COPY">attached copy</mat-radio-button>
            <mat-radio-button value="SUBMITTED_ALONE">submitted alone</mat-radio-button>
            <mat-radio-button *ngIf="showUnsetAffordances" class="unset" [value]="null">unset</mat-radio-button>
         </mat-radio-group>
      </span>
   </div>


   <div class="cr-matching-grid">

      <div class="field-area descr">
         <mat-radio-group formControlName="descriptionMatchesCR">
            <div>Description matches CR</div>
            <div>
               <mat-radio-button [value]="true">Y</mat-radio-button>
               <mat-radio-button [value]="false">N</mat-radio-button>
               <mat-radio-button *ngIf="showUnsetAffordances" [value]="null" class="unset">unset</mat-radio-button>
            </div>
         </mat-radio-group>
      </div>

      <div class="field-area descr-notes">
         <mat-form-field class="notes">
            <input type="text" matInput placeholder="Notes"
                   formControlName="descriptionMatchesCRNotes">
         </mat-form-field>
      </div>

      <div class="field-area container">
         <mat-radio-group formControlName="containerMatchesCR">
            <div>Container matches CR</div>
            <div>
               <mat-radio-button [value]="true">Y</mat-radio-button>
               <mat-radio-button [value]="false">N</mat-radio-button>
               <mat-radio-button *ngIf="showUnsetAffordances" [value]="null" class="unset">unset</mat-radio-button>
            </div>
         </mat-radio-group>
      </div>

      <div class="field-area container-notes">
         <mat-form-field class="notes">
            <input type="text" matInput placeholder="Notes" formControlName="containerMatchesCRNotes">
         </mat-form-field>
      </div>

      <div class="field-area code">
         <mat-radio-group formControlName="codeMatchesCR">
            <div>Code matches CR</div>
            <div>
               <mat-radio-button [value]="true">Y</mat-radio-button>
               <mat-radio-button [value]="false">N</mat-radio-button>
               <mat-radio-button *ngIf="showUnsetAffordances" [value]="null" class="unset">unset</mat-radio-button>
            </div>
         </mat-radio-group>
      </div>

      <div class="field-area code-notes">
         <mat-form-field class="notes">
            <input type="text" matInput placeholder="Notes" formControlName="codeMatchesCRNotes">
         </mat-form-field>
      </div>

   </div>

</form>
