<form [formGroup]="form">

   <div class="row">

      <div class="field-area"
           [class.conflicted]="conflicts.rvBatchId !== undefined"
           [class.batch-resource-matched]="resourceAssignments.hasAssignedOrAppliedResources('rvBatchId')">
         <mat-form-field>
            <input formControlName="rvBatchId" type="text" matInput placeholder="RV batch">
         </mat-form-field>
         <app-field-assigned-resources *ngIf="allowDataChanges"
            [resourceCodes]="resourceAssignments.getAssignedResourceCodesForControl('rvBatchId')"
            (select)="resourceAssignments.applyAssignedResourceToControl($event, 'rvBatchId')"
            (remove)="resourceAssignments.removeAssignedResourceCodeForControl($event, 'rvBatchId')"
            (removeAll)="resourceAssignments.removeAllResourceAssignmentsForControl('rvBatchId')">
         </app-field-assigned-resources>
         <app-conflicting-field-value
            [conflictValue]="conflicts.rvBatchId"
            [conflictWhoWhen]="conflictsWhoWhen"
            (dismiss)="conflicts.rvBatchId = undefined">
         </app-conflicting-field-value>
      </div>

      <div class="field-area"
           [class.conflicted]="conflicts.ttBatchId !== undefined"
           [class.batch-resource-matched]="resourceAssignments.hasAssignedOrAppliedResources('ttBatchId')">
         <mat-form-field>
            <input formControlName="ttBatchId" type="text" matInput placeholder="TT batch">
         </mat-form-field>
         <app-field-assigned-resources *ngIf="allowDataChanges"
            [resourceCodes]="resourceAssignments.getAssignedResourceCodesForControl('ttBatchId')"
            (select)="resourceAssignments.applyAssignedResourceToControl($event, 'ttBatchId')"
            (remove)="resourceAssignments.removeAssignedResourceCodeForControl($event, 'ttBatchId')"
            (removeAll)="resourceAssignments.removeAllResourceAssignmentsForControl('ttBatchId')">
         </app-field-assigned-resources>
         <app-conflicting-field-value
            [conflictValue]="conflicts.ttBatchId"
            [conflictWhoWhen]="conflictsWhoWhen"
            (dismiss)="conflicts.ttBatchId = undefined">
         </app-conflicting-field-value>
      </div>

      <div class="field-area"
           [class.conflicted]="conflicts.bgBatchId !== undefined"
           [class.batch-resource-matched]="resourceAssignments.hasAssignedOrAppliedResources('bgBatchId')">
         <mat-form-field>
            <input formControlName="bgBatchId" type="text" matInput placeholder="BG batch">
         </mat-form-field>
         <app-field-assigned-resources *ngIf="allowDataChanges"
            [resourceCodes]="resourceAssignments.getAssignedResourceCodesForControl('bgBatchId')"
            (select)="resourceAssignments.applyAssignedResourceToControl($event, 'bgBatchId')"
            (remove)="resourceAssignments.removeAssignedResourceCodeForControl($event, 'bgBatchId')"
            (removeAll)="resourceAssignments.removeAllResourceAssignmentsForControl('bgBatchId')">
         </app-field-assigned-resources>
         <app-conflicting-field-value
            [conflictValue]="conflicts.bgBatchId"
            [conflictWhoWhen]="conflictsWhoWhen"
            (dismiss)="conflicts.bgBatchId = undefined">
         </app-conflicting-field-value>
      </div>

      <div class="field-area"
           [class.conflicted]="conflicts.i2kiBatchId !== undefined"
           [class.batch-resource-matched]="resourceAssignments.hasAssignedOrAppliedResources('i2kiBatchId')">
         <mat-form-field>
            <input formControlName="i2kiBatchId" type="text" matInput placeholder="I2KI batch">
         </mat-form-field>
         <app-field-assigned-resources *ngIf="allowDataChanges"
            [resourceCodes]="resourceAssignments.getAssignedResourceCodesForControl('i2kiBatchId')"
            (select)="resourceAssignments.applyAssignedResourceToControl($event, 'i2kiBatchId')"
            (remove)="resourceAssignments.removeAssignedResourceCodeForControl($event, 'i2kiBatchId')"
            (removeAll)="resourceAssignments.removeAllResourceAssignmentsForControl('i2kiBatchId')">
         </app-field-assigned-resources>
         <app-conflicting-field-value
            [conflictValue]="conflicts.i2kiBatchId"
            [conflictWhoWhen]="conflictsWhoWhen"
            (dismiss)="conflicts.i2kiBatchId = undefined">
         </app-conflicting-field-value>
      </div>

      <button class="apply-resources-btn" *ngIf="allowDataChanges"
              (click)="promptApplyResources()"
               mat-icon-button color="accent">
         <mat-icon>flash_on</mat-icon>
      </button>

   </div>

   <div class="row">

      <div class="field-area" [class.conflicted]="conflicts.spikePlateCount !== undefined">
         <mat-form-field>
            <input formControlName="spikePlateCount" type="number" min="0" step="1" matInput
                   placeholder="Spike plate count">
         </mat-form-field>
         <app-conflicting-field-value
            [conflictValue]="conflicts.spikePlateCount"
            [conflictWhoWhen]="conflictsWhoWhen"
            (dismiss)="conflicts.spikePlateCount = undefined">
         </app-conflicting-field-value>
      </div>

      <div class="field-area" [class.conflicted]="conflicts.rvttWaterBathId !== undefined">
         <mat-form-field>
            <mat-select formControlName="rvttWaterBathId" placeholder="Water bath" *ngIf="waterBaths; else textInputWaterBath">
               <mat-option [value]="null"></mat-option>
               <mat-option *ngFor="let labRsc of waterBaths" [value]="labRsc.code">
                  {{labRsc.code}}{{labRsc.description ? ' - ' + labRsc.description : ''}}
               </mat-option>
            </mat-select>
            <ng-template #textInputWaterBath>
               <input formControlName="rvttWaterBathId" type="text" matInput placeholder="Water bath">
            </ng-template>
         </mat-form-field>
         <app-conflicting-field-value
            [conflictValue]="conflicts.rvttWaterBathId"
            [conflictWhoWhen]="conflictsWhoWhen"
            (dismiss)="conflicts.rvttWaterBathId = undefined">
         </app-conflicting-field-value>
      </div>

   </div>

   <div class="row">

      <div class="field-area positive-control-growth"
           [class.conflicted]="conflicts.positiveControlGrowth !== undefined"
           [class.growth]="positiveControlGrowthControl.value === true"
           [class.no-growth]="positiveControlGrowthControl.value === false">
         <mat-radio-group formControlName="positiveControlGrowth">
            <div>Positive control growth</div>
            <div>
               <mat-radio-button [value]="true">growth</mat-radio-button>
               <mat-radio-button [value]="false">no growth</mat-radio-button>
               <mat-radio-button *ngIf="showUnsetAffordances" [value]="null" class="unset">unset</mat-radio-button>
            </div>
         </mat-radio-group>
         <app-conflicting-field-value
            [conflictValue]="conflicts.positiveControlGrowth"
            [conflictWhoWhen]="conflictsWhoWhen"
            (dismiss)="conflicts.positiveControlGrowth = undefined">
         </app-conflicting-field-value>
      </div>

      <div class="field-area medium-control-growth"
           [class.conflicted]="conflicts.mediumControlGrowth !== undefined"
           [class.growth]="mediumControlGrowthControl.value === true"
           [class.no-growth]="mediumControlGrowthControl.value === false">
         <mat-radio-group formControlName="mediumControlGrowth">
            <div>Medium control growth</div>
            <div>
               <mat-radio-button [value]="true">growth</mat-radio-button>
               <mat-radio-button [value]="false">no growth</mat-radio-button>
               <mat-radio-button *ngIf="showUnsetAffordances" [value]="null" class="unset">unset</mat-radio-button>
            </div>
         </mat-radio-group>
         <app-conflicting-field-value
            [conflictValue]="conflicts.mediumControlGrowth"
            [conflictWhoWhen]="conflictsWhoWhen"
            (dismiss)="conflicts.mediumControlGrowth = undefined">
         </app-conflicting-field-value>
      </div>

      <div class="field-area bacterial-controls" [class.conflicted]="conflicts.bacterialControlsUsed !== undefined">
         <mat-radio-group formControlName="bacterialControlsUsed">
            <div>Bacterial controls used</div>
            <div>
               <mat-radio-button [value]="true">Y</mat-radio-button>
               <mat-radio-button [value]="false">N</mat-radio-button>
               <mat-radio-button *ngIf="showUnsetAffordances" class="unset" [value]="null">unset</mat-radio-button>
            </div>
         </mat-radio-group>
         <app-conflicting-field-value
            [conflictValue]="conflicts.bacterialControlsUsed"
            [conflictWhoWhen]="conflictsWhoWhen"
            (dismiss)="conflicts.bacterialControlsUsed = undefined">
         </app-conflicting-field-value>
      </div>

   </div>


   <!-- system controls -->
   <div class="row">

      <div class="field-area system-controls-growth" (change)="onSystemControlsGrowthChanged()"
           [class.conflicted]="conflicts.systemControlsGrowth !== undefined"
           [class.growth]="systemControlsGrowthControl.value === 'G'"
           [class.no-growth]="systemControlsGrowthControl.value === 'NG'">
         <mat-radio-group formControlName="systemControlsGrowth">
            <div>System controls growth</div>
            <div>
               <mat-radio-button [value]="'G'">growth</mat-radio-button>
               <mat-radio-button [value]="'NG'">no growth</mat-radio-button>
               <mat-radio-button [value]="'NA'">not used</mat-radio-button>
               <mat-radio-button *ngIf="showUnsetAffordances" [value]="null" class="unset">unset</mat-radio-button>
            </div>
         </mat-radio-group>
         <app-conflicting-field-value
            [conflictValue]="conflicts.systemControlsGrowth"
            [conflictWhoWhen]="conflictsWhoWhen"
            (dismiss)="conflicts.systemControlsGrowth = undefined">
         </app-conflicting-field-value>
      </div>

      <div class="field-area sys-ctrl-types" [class.conflicted]="conflicts.systemControlTypes!== undefined">
         <div class="row">
            <mat-form-field>
               <input formControlName="systemControlTypes" type="text" matInput placeholder="System control types">
            </mat-form-field>
            <div class="ctrl-types-predefined-inputs" *ngIf="allowDataChanges">
               <button class="link" (click)="appendSystemControlType('none')">none</button>
               <button class="link" (click)="appendSystemControlType('knife')">knife</button>
               <button class="link" (click)="appendSystemControlType('spoon')">spoon</button>
               <button class="link" (click)="appendSystemControlType('spatula')">spatula</button>
            </div>
         </div>
         <app-conflicting-field-value
            [conflictValue]="conflicts.systemControlTypes"
            [conflictWhoWhen]="conflictsWhoWhen"
            (dismiss)="conflicts.systemControlTypes = undefined">
         </app-conflicting-field-value>
      </div>
   </div>

   <!-- collector controls -->
   <div class="row">
      <div class="field-area collector-controls-growth" (change)="onCollectorControlsGrowthChanged()"
           [class.conflicted]="conflicts.collectorControlsGrowth !== undefined"
           [class.growth]="collectorControlsGrowthControl.value === 'G'"
           [class.no-growth]="collectorControlsGrowthControl.value === 'NG'">
         <mat-radio-group formControlName="collectorControlsGrowth">
            <div>Collector controls growth</div>
            <div>
               <mat-radio-button [value]="'G'">growth</mat-radio-button>
               <mat-radio-button [value]="'NG'">no growth</mat-radio-button>
               <mat-radio-button [value]="'NA'">not used</mat-radio-button>
               <mat-radio-button *ngIf="showUnsetAffordances" [value]="null" class="unset">unset</mat-radio-button>
            </div>
         </mat-radio-group>
         <app-conflicting-field-value
            [conflictValue]="conflicts.collectorControlsGrowth"
            [conflictWhoWhen]="conflictsWhoWhen"
            (dismiss)="conflicts.collectorControlsGrowth = undefined">
         </app-conflicting-field-value>
      </div>

      <div class="field-area coll-ctrl-types" [class.conflicted]="conflicts.collectorControlTypes!== undefined">
         <div class="row">
            <mat-form-field>
               <input formControlName="collectorControlTypes" type="text" matInput placeholder="Collector control types">
            </mat-form-field>
            <div class="ctrl-types-predefined-inputs" *ngIf="allowDataChanges">
               <button class="link" (click)="appendCollectorControlType('none')">none</button>
            </div>
         </div>
         <app-conflicting-field-value
            [conflictValue]="conflicts.collectorControlTypes"
            [conflictWhoWhen]="conflictsWhoWhen"
            (dismiss)="conflicts.collectorControlTypes = undefined">
         </app-conflicting-field-value>
      </div>

   </div>

</form>
