<form [formGroup]="form">

   <div class="row">
      <div class="field-area"
           [class.batch-resource-matched]="resourceAssignments.hasAssignedOrAppliedResources('rvBatchId')">
         <mat-form-field>
            <input formControlName="rvBatchId" type="text" matInput placeholder="RV batch">
         </mat-form-field>
         <app-field-assigned-resources *ngIf="allowDataChanges"
            [resourceCodes]="resourceAssignments.getAssignedResourceCodesForControl('rvBatchId')"
            (select)="resourceAssignments.applyAssignedResourceToControl($event, 'rvBatchId')"
            (remove)="resourceAssignments.removeAssignedResourceCodeForControl($event, 'rvBatchId')"
            (removeAll)="resourceAssignments.removeAllResourceAssignmentsForControl('rvBatchId')">
         </app-field-assigned-resources>
      </div>

      <div class="field-area"
           [class.batch-resource-matched]="resourceAssignments.hasAssignedOrAppliedResources('ttBatchId')">
         <mat-form-field>
            <input formControlName="ttBatchId" type="text" matInput placeholder="TT batch">
         </mat-form-field>
         <app-field-assigned-resources *ngIf="allowDataChanges"
            [resourceCodes]="resourceAssignments.getAssignedResourceCodesForControl('ttBatchId')"
            (select)="resourceAssignments.applyAssignedResourceToControl($event, 'ttBatchId')"
            (remove)="resourceAssignments.removeAssignedResourceCodeForControl($event, 'ttBatchId')"
            (removeAll)="resourceAssignments.removeAllResourceAssignmentsForControl('ttBatchId')">
         </app-field-assigned-resources>
      </div>

      <div class="field-area"
           [class.batch-resource-matched]="resourceAssignments.hasAssignedOrAppliedResources('bgBatchId')">
         <mat-form-field>
            <input formControlName="bgBatchId" type="text" matInput placeholder="BG batch">
         </mat-form-field>
         <app-field-assigned-resources *ngIf="allowDataChanges"
            [resourceCodes]="resourceAssignments.getAssignedResourceCodesForControl('bgBatchId')"
            (select)="resourceAssignments.applyAssignedResourceToControl($event, 'bgBatchId')"
            (remove)="resourceAssignments.removeAssignedResourceCodeForControl($event, 'bgBatchId')"
            (removeAll)="resourceAssignments.removeAllResourceAssignmentsForControl('bgBatchId')">
         </app-field-assigned-resources>
      </div>

      <div class="field-area"
           [class.batch-resource-matched]="resourceAssignments.hasAssignedOrAppliedResources('i2kiBatchId')">
         <mat-form-field>
            <input formControlName="i2kiBatchId" type="text" matInput placeholder="I2KI batch">
         </mat-form-field>
         <app-field-assigned-resources *ngIf="allowDataChanges"
            [resourceCodes]="resourceAssignments.getAssignedResourceCodesForControl('i2kiBatchId')"
            (select)="resourceAssignments.applyAssignedResourceToControl($event, 'i2kiBatchId')"
            (remove)="resourceAssignments.removeAssignedResourceCodeForControl($event, 'i2kiBatchId')"
            (removeAll)="resourceAssignments.removeAllResourceAssignmentsForControl('i2kiBatchId')">
         </app-field-assigned-resources>
      </div>

      <button class="apply-resources-btn" *ngIf="allowDataChanges"
              (click)="promptApplyResources()"
               mat-icon-button color="accent">
         <mat-icon>flash_on</mat-icon>
      </button>
   </div>

   <div class="row">
      <div class="field-area">
         <mat-form-field>
            <input formControlName="spikePlateCount" type="number" min="0" step="1" matInput
                   placeholder="Spike plate count">
         </mat-form-field>
      </div>

      <div class="field-area"
           [class.batch-resource-matched]="resourceAssignments.hasAssignedOrAppliedResources('rvttWaterBathId')">
         <span>
            <mat-form-field>
               <mat-select formControlName="rvttWaterBathId" placeholder="Water bath"
                           *ngIf="selectWaterbath; else textInputWaterBath">
                  <mat-option [value]="null"></mat-option>
                  <mat-option *ngFor="let labRsc of waterBaths" [value]="labRsc.code">
                     {{labRsc.code}}{{labRsc.description ? ' - ' + labRsc.description : ''}}
                  </mat-option>
               </mat-select>
               <ng-template #textInputWaterBath>
                  <input formControlName="rvttWaterBathId" type="text" matInput placeholder="Water bath">
               </ng-template>
            </mat-form-field>
            <button class="toggle-select" *ngIf="allowDataChanges && allowFreeformEntryForSelectFields"
                    (click)="toggleSelectWaterbath()"
                    mat-icon-button matTooltip="toggle between a select list and free-from text entry">
               <mat-icon>create</mat-icon>
            </button>
         </span>
         <app-field-assigned-resources *ngIf="allowDataChanges"
            [resourceCodes]="resourceAssignments.getAssignedResourceCodesForControl('rvttWaterBathId')"
            (select)="resourceAssignments.applyAssignedResourceToControl($event, 'rvttWaterBathId')"
            (remove)="resourceAssignments.removeAssignedResourceCodeForControl($event, 'rvttWaterBathId')"
            (removeAll)="resourceAssignments.removeAllResourceAssignmentsForControl('rvttWaterBathId')">
         </app-field-assigned-resources>
      </div>
   </div>

   <div class="row">
      <div class="field-area positive-control-growth"
           [class.growth]="positiveControlGrowthControl.value === true"
           [class.no-growth]="positiveControlGrowthControl.value === false">
         <mat-radio-group formControlName="positiveControlGrowth">
            <div>Positive control growth</div>
            <div>
               <mat-radio-button [value]="true">growth</mat-radio-button>
               <mat-radio-button [value]="false">no growth</mat-radio-button>
               <mat-radio-button *ngIf="showUnsetAffordances" [value]="null" class="unset">unset</mat-radio-button>
            </div>
         </mat-radio-group>
      </div>

      <div class="field-area medium-control-growth"
           [class.growth]="mediumControlGrowthControl.value === true"
           [class.no-growth]="mediumControlGrowthControl.value === false">
         <mat-radio-group formControlName="mediumControlGrowth">
            <div>Medium control growth</div>
            <div>
               <mat-radio-button [value]="true">growth</mat-radio-button>
               <mat-radio-button [value]="false">no growth</mat-radio-button>
               <mat-radio-button *ngIf="showUnsetAffordances" [value]="null" class="unset">unset</mat-radio-button>
            </div>
         </mat-radio-group>
      </div>

      <div class="field-area bacterial-controls">
         <mat-radio-group formControlName="bacterialControlsUsed">
            <div>Bacterial controls used</div>
            <div>
               <mat-radio-button [value]="true">Y</mat-radio-button>
               <mat-radio-button [value]="false">N</mat-radio-button>
               <mat-radio-button *ngIf="showUnsetAffordances" class="unset" [value]="null">unset</mat-radio-button>
            </div>
         </mat-radio-group>
      </div>
   </div>


   <!-- system controls -->
   <div class="row">
      <div class="field-area system-controls-growth" (change)="onSystemControlsGrowthChanged()"
           [class.growth]="systemControlsGrowthControl.value === 'G'"
           [class.no-growth]="systemControlsGrowthControl.value === 'NG'">
         <mat-radio-group formControlName="systemControlsGrowth">
            <div>System controls growth</div>
            <div>
               <mat-radio-button [value]="'G'">growth</mat-radio-button>
               <mat-radio-button [value]="'NG'">no growth</mat-radio-button>
               <mat-radio-button [value]="'NA'">not used</mat-radio-button>
               <mat-radio-button *ngIf="showUnsetAffordances" [value]="null" class="unset">unset</mat-radio-button>
            </div>
         </mat-radio-group>
      </div>

      <div class="field-area sys-ctrl-types">
         <div class="row">
            <mat-form-field>
               <input formControlName="systemControlTypes" type="text" matInput placeholder="System control types">
            </mat-form-field>
            <div class="ctrl-types-predefined-inputs" *ngIf="allowDataChanges">
               <button class="link" (click)="appendSystemControlType('none')">none</button>
               <button class="link" (click)="appendSystemControlType('knife')">knife</button>
               <button class="link" (click)="appendSystemControlType('spoon')">spoon</button>
               <button class="link" (click)="appendSystemControlType('spatula')">spatula</button>
            </div>
         </div>
      </div>
   </div>

   <!-- collector controls -->
   <div class="row">
      <div class="field-area collector-controls-growth" (change)="onCollectorControlsGrowthChanged()"
           [class.growth]="collectorControlsGrowthControl.value === 'G'"
           [class.no-growth]="collectorControlsGrowthControl.value === 'NG'">
         <mat-radio-group formControlName="collectorControlsGrowth">
            <div>Collector controls growth</div>
            <div>
               <mat-radio-button [value]="'G'">growth</mat-radio-button>
               <mat-radio-button [value]="'NG'">no growth</mat-radio-button>
               <mat-radio-button [value]="'NA'">not used</mat-radio-button>
               <mat-radio-button *ngIf="showUnsetAffordances" [value]="null" class="unset">unset</mat-radio-button>
            </div>
         </mat-radio-group>
      </div>

      <div class="field-area coll-ctrl-types">
         <div class="row">
            <mat-form-field>
               <input formControlName="collectorControlTypes" type="text" matInput placeholder="Collector control types">
            </mat-form-field>
            <div class="ctrl-types-predefined-inputs" *ngIf="allowDataChanges">
               <button class="link" (click)="appendCollectorControlType('none')">none</button>
            </div>
         </div>
      </div>
   </div>

</form>
