<div class="control-area">
   <mat-checkbox #selectAllNoneCheckbox
      (change)="selectOrUnselectVisible($event.checked)"
      matTooltip="select/unselect all visible samples">
   </mat-checkbox>
   <app-samples-listing-options
      [initialOptions]="defaultListingOptions"
      (optionsChanged)="listingOptionsChanged($event)">
   </app-samples-listing-options>
   <div class="selected-count-message">
      {{countSelected()}} selected
      <span *ngIf="hiddenSelectedCount > 0">({{hiddenSelectedCount}} hidden)</span>
   </div>
   <button id="assoc-resources-btn" mat-button *ngIf="countSelected() > 0"
           (click)="promptAssociateUnmanagedResourcesWithSelected()">
      Link resources...
   </button>
</div>

<div class="listing">
   <div class="sample-container" *ngFor="let sampleIx of visibleSampleIxs">
      <mat-checkbox [(ngModel)]="allSamples[sampleIx].selected" (change)="clearSelectAllCheckbox()"></mat-checkbox>
      <app-sample [sample]="allSamples[sampleIx].sample" [showSampleDetails]="showSampleDetails"></app-sample>
   </div>
</div>

