<div class="control-area">
   <mat-checkbox #selectAllNoneCheckbox
      (change)="selectOrUnselectVisible($event.checked)"
      matTooltip="select/unselect all visible samples">
   </mat-checkbox>
   <app-samples-listing-options
      [initialOptions]="defaultListingOptions"
      (optionsChanged)="listingOptionsChanged($event)">
   </app-samples-listing-options>
   <div class="selected-count-message">
      {{countSelected()}} selected
      <span *ngIf="hiddenSelectedCount > 0">({{hiddenSelectedCount}} hidden)</span>
   </div>
   <button mat-button (click)="expandOrContractAllSamples()">{{expandedSampleIds.size > 0 ? 'collapse samples' : 'expand samples'}}</button>
</div>

<div class="listing">
   <div class="sample-container" *ngFor="let sampleIx of visibleSampleIxs">
      <mat-checkbox [(ngModel)]="selectableSamples[sampleIx].selected" (change)="clearSelectAllCheckbox()"></mat-checkbox>
      <app-sample
         [sample]="selectableSamples[sampleIx].sample"
         [showAssociatedItems]="expandedSampleIds.has(selectableSamples[sampleIx].sample.id)"
         [showAssociatedItemsSummaryInSampleMetadata]="true"
         [newTestTypeChoices]="labGroupTestTypes"
         (testCreated)="onNewTestCreated($event)"
         (testCreationFailed)="onTestCreationFailed($event)"
         (headerClick)="toggleSampleExpanded(selectableSamples[sampleIx].sample.id)"
         (testClick)="navigateToTest($event)"
         (testStageClick)="navigateToTestStage($event)">
      </app-sample>
   </div>
</div>

