<div class="control-area">

   <mat-checkbox #selectAllNoneCheckbox
      (change)="selectOrUnselectVisible($event.checked)"
      matTooltip="select/unselect all visible samples">
   </mat-checkbox>

   <div class="selected-count-message">
      {{countSelected()}} selected
      <span *ngIf="hiddenSelectedCount > 0">({{hiddenSelectedCount}} hidden)</span>
   </div>

   <button mat-button type="button" (click)="expandOrContractAllSamples()">
      {{expandedSampleIds.size > 0 ? 'collapse samples' : 'expand samples'}}
   </button>

   <app-samples-listing-options
      [initialOptions]="defaultListingOptions"
      (optionsChanged)="listingOptionsChanged($event)">
   </app-samples-listing-options>

   <div class="refresh-panel">
      <mat-menu #refreshDataMenu="matMenu">
         <div class="menu-item" >
            <button mat-button type="button" (click)="reload()">
               refresh from database
            </button>
         </div>
         <div class="menu-item" >
            <button class="menu-item" mat-button type="button" (click)="refreshFromFacts()">
               update database from FACTS and refresh from database
            </button>
         </div>
      </mat-menu>
      <button mat-button type="button" [matMenuTriggerFor]="refreshDataMenu">
         <mat-icon>refresh</mat-icon>
         <span class="last-loaded">last loaded at {{contentsLastLoaded.format('h:mm:ss a')}}</span>
      </button>
   </div>

</div> <!-- control area -->

<div>
   <div class="sample-container" *ngFor="let sampleIx of visibleSampleIxs">
      <mat-checkbox [(ngModel)]="selectableSamples[sampleIx].selected" (change)="clearSelectAllCheckbox()"></mat-checkbox>
      <app-sample
         [sample]="selectableSamples[sampleIx].sample"
         [showAssociatedItems]="expandedSampleIds.has(selectableSamples[sampleIx].sample.id)"
         [showAssociatedItemsSummaryInSampleMetadata]="true"
         [labGroupTestTypes]="labGroupTestTypes"
         [showTestDeleteButtons]="showTestDeleteButtons"
         (testDeleted)="onTestDeleted($event)"
         (testDeleteFailed)="onTestDeleteFailed($event)"
         (testCreated)="onNewTestCreated($event)"
         (testCreationFailed)="onTestCreationFailed($event)"
         (headerClick)="toggleSampleExpanded(selectableSamples[sampleIx].sample.id)">
      </app-sample>
   </div>
</div>

