@import '../common-test-stage-styles';

.row {
   display: flex;
   flex-flow: row wrap;
   width: 100%;
   align-items: center;
}

.apply-resources-btn {
   background-color: $batch-resource-background-color;
   margin-left: 10px;
}

.positive-control-growth {
   padding: 5px;
   border: 5px dotted lightgray;
   &.growth {
      border: 5px solid darkgreen;
      background-color: #eeffee;
   }
   &.no-growth {
      border: 5px solid darkred;
      background-color: #ffeeee;
   }
}

.medium-control-growth, .system-controls-growth, .collector-controls-growth  {
   padding: 5px;
   border: 5px dotted lightgray;

   &.growth {
      border: 5px solid darkred;
      background-color: #ffeeee;
   }
   &.no-growth {
      border: 5px solid darkgreen;
      background-color: #eeffee;
   }
}

.sys-control-types {
   margin: 0 30px 0 10px;
}

.coll-control-types {
   margin: 0 10px;
}

.bacterial-controls {
   margin-left: 20px;
}

.ctrl-types-predefined-inputs {
   margin: 0 5px;
   button {
      margin: 0 5px;
   }
}
