<!-- TODO
   [Maybe] Test type selection for filtering to samples that have a test of the given type.
   [Maybe] Sorting options: last modified, test begin date, facts status.
   [Maybe] FACTS status checkboxes for filtering samples.
-->
<form [formGroup]="listingOptionsFormGroup">
   <div class="options-panel">
       <div class="option">
           <mat-icon>search</mat-icon>
           <mat-form-field>
              <input formControlName="searchText" matInput placeholder="Search">
           </mat-form-field>
       </div>
       <div class="option">
           <mat-slide-toggle formControlName="includeSamplesAssignedOnlyToOtherUsers">
              Include samples assigned to others
           </mat-slide-toggle>
       </div>
       <div class="option">
           <mat-slide-toggle formControlName="showSampleDetails">
              Show sample details
           </mat-slide-toggle>
       </div>
      <div class="option">
         <mat-slide-toggle formControlName="limitSelectionToVisibleSamples">
            Limit selections to search results
         </mat-slide-toggle>
      </div>
   </div>
</form>
