<form [formGroup]="form">
   <div class="criteria-panel">

      <div class="criteria-group search">
         <mat-icon>search</mat-icon>
         <mat-form-field>
            <input formControlName="searchText" matInput placeholder="Search">
         </mat-form-field>
      </div>

      <mat-form-field class="criteria-group">
         <mat-select placeholder="Include Statuses" [formControl]="includeStatusesCtl" multiple>
            <mat-select-trigger>
               <span *ngFor="let status of includeStatusesCtl.value" class="selected-statuses-trigger-text">
                  {{status}}
               </span>
            </mat-select-trigger>
            <mat-option *ngFor="let status of allIncompleteSampleOpStatuses" [value]="status.code">
               {{status.displayName}} ({{status.code}})
            </mat-option>
         </mat-select>
      </mat-form-field>

      <div class="criteria-group">
         <mat-menu #otherOptionsMenu="matMenu">
            <div class="menu-item">
                <mat-slide-toggle formControlName="includeSamplesAssignedOnlyToOtherUsers">
                   Include samples assigned to others
                </mat-slide-toggle>
            </div>
            <div class="menu-item">
               <mat-slide-toggle formControlName="limitSelectionToVisibleSamples">
                  Limit selections to search results
               </mat-slide-toggle>
            </div>
            <div class="menu-item">
               <mat-slide-toggle formControlName="showTestDeleteButtons">
                  Show test delete buttons
               </mat-slide-toggle>
            </div>
         </mat-menu>
         <button mat-icon-button type="button" [matMenuTriggerFor]="otherOptionsMenu">
            <mat-icon>settings</mat-icon>
         </button>
      </div>
   </div>
</form>
