.criteria-panel {
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   align-items: center;
}

.criteria-group {
   margin: 3px 10px;
   &.search {
      display: flex;
      align-items: center;
   }
}

.statuses-label-stack {
   display: flex;
   flex-flow: column nowrap;
   align-items: flex-start;
   font-size: small;
}

.statuses {
   display: flex;
   align-items: center;
}

.mat-button-toggle-group {
   margin-left: 5px;
}

.menu-item {
   margin: 10px;
}

.selected-statuses-trigger-text {
   opacity: 0.75;
   font-size: 0.75em;
}
