<!-- TODO: Add additional filtering options as requested by John, and move limitSelection... to "advanced" dropdown menu.
   [Requested by John] Test type selection for filtering to samples that have a test of the given type.
      (Maybe it should be optional whether to actually hide other test types in resulting samples.)
   [Requested by John] FACTS status checkboxes for filtering samples
   [Maybe] Sorting options: last modified, test begin date, facts status.
-->
<form [formGroup]="listingOptionsFormGroup">
   <div class="options-panel">
      <div class="option search">
         <mat-icon>search</mat-icon>
         <mat-form-field>
            <input formControlName="searchText" matInput placeholder="Search">
         </mat-form-field>
      </div>
      <div class="option">
         <mat-slide-toggle formControlName="includeSamplesAssignedOnlyToOtherUsers">
            Include samples assigned to others
         </mat-slide-toggle>
      </div>
      <!-- TODO: This option should go in an "advanced" menu.
      <div class="option">
         <mat-slide-toggle formControlName="limitSelectionToVisibleSamples">
            Limit selections to search results
         </mat-slide-toggle>
      </div>
      -->
   </div>
</form>
