<div class="sel-agars-stack">

   <div class="sel-agar-row" *ngFor="let selAgar of selAgars">

      <div class="sel-agar-label-stack">
         <div class="sel-agar-label">{{selAgar.displayName}}</div>
         <button class="add-isolate hover-link" type="button" matTooltip="add isolate"
                 (click)="promptAddNewIsolateTestSequence(selAgar.formGroupName)"
                  *ngIf="!form.disabled">
            <mat-icon>add_circle_outline</mat-icon>
         </button>
      </div>

      <div class="isolate-test-seqs-stack">
         <app-isolate-test-seq *ngFor="let seqUid of displayOrderedIsolateTestSeqUidsBySelAgar[selAgar.formGroupName]; let i = index"
            [form]="this.form.get([selAgar.formGroupName, seqUid])"
            [testUnitDescription]="testUnitDescription"
            [medium]="medium"
            [selectiveAgarDisplayName]="selAgar.displayName"
            [showDisposeButton]="true"
            (disposeRequested)="removeIsolateTestSequence(selAgar.formGroupName, seqUid)"
            (failureDeclared)="onIsolateTestSequenceFailureDeclared(selAgar.formGroupName, seqUid)">
         </app-isolate-test-seq>
      </div>

   </div>

</div>
