<form [formGroup]="form" class="isolate-row" [class.failed]="failed">

   <div class="isolate-num" matTooltip="isolate number">{{isolateNumber}}</div>

   <mat-select class="colony-appearance" formControlName="colonyAppearance" matTooltip="colony appearance">
      <mat-option [value]="null"></mat-option>
      <mat-option [value]="'T'">T</mat-option>
      <mat-option [value]="'NT'">N</mat-option>
      <mat-option [value]="'AT'">AT</mat-option>
      <mat-option [value]="'NG'">NG</mat-option>
   </mat-select>

   <app-slant-tube-test
      [form]="form.get('tsiTubeTest')"
      [tubeType]="'TSI'"
      [isolateDescription]="isolateDescription">
   </app-slant-tube-test>

   <app-slant-tube-test
      [form]="form.controls['liaTubeTest']"
      [tubeType]="'LIA'"
      [isolateDescription]="isolateDescription">
   </app-slant-tube-test>

   <span class="oxidase" matTooltip="oxidase">
      <span class="oxidase-label">Ox</span>
      <mat-select formControlName="oxidaseDetection" [disabled]="failed">
         <mat-option [value]="null"></mat-option>
         <mat-option [value]="true">+</mat-option>
         <mat-option [value]="false">&minus;</mat-option>
      </mat-select>
   </span>

   <div class="expanding-flex-space"></div>

   <div class="isolate-actions" *ngIf="!form.disabled">
      <mat-menu #actionsMenu="matMenu">
         <span class="menu-header">Actions for {{isolateDescription}}</span>
         <hr>
         <div class="menu-item">
            <button mat-button class="remove" *ngIf="showDisposeButton" (click)="onDisposeRequested()">
                <mat-icon>delete_forever</mat-icon> delete isolate
            </button>
         </div>
         <div class="menu-item">
            <button mat-button class="fail" *ngIf="!this.form.controls.failure" (click)="promptEditFailureInfo()">
               <mat-icon>thumb_down</mat-icon> mark isolate as failed
            </button>
         </div>
         <div class="menu-item">
            <button mat-button class="unfail" *ngIf="!!this.form.controls.failure" (click)="clearFailure()">
                <mat-icon>thumb_up</mat-icon> mark isolate as not failed
            </button>
         </div>
         <div class="menu-item">
            <button mat-button *ngIf="!!this.form.controls.failure" (click)="promptEditFailureInfo()">
               <mat-icon>edit</mat-icon><mat-icon>thumb_down</mat-icon> edit failure information
            </button>
         </div>
      </mat-menu>

      <button class="hover-link" [matMenuTriggerFor]="actionsMenu">
         <mat-icon>more_vert</mat-icon>
      </button>
   </div>

</form>
