<form class="isolate-row" [class.failed]="failed">

   <app-slant-tube-test
      [form]="form.get('tsiTubeTest')"
      [tubeType]="'TSI'"
      [isolateDescription]="isolateDescription"
      [editingEnabled]="!failed">
   </app-slant-tube-test>

   <app-slant-tube-test
      [form]="form.controls['liaTubeTest']"
      [tubeType]="'LIA'"
      [isolateDescription]="isolateDescription"
      [editingEnabled]="!failed">
   </app-slant-tube-test>

   <div class="expanding-flex-space"></div>

   <div class="isolate-actions">
      <mat-menu #actionsMenu="matMenu">
         <span class="menu-header">Actions for {{isolateDescription}}</span>
         <hr>
         <div class="menu-item">
            <button mat-button class="remove" *ngIf="showDisposeButton" (click)="onDisposeRequested()">
                <mat-icon>delete_forever</mat-icon> delete isolate
            </button>
         </div>
         <div class="menu-item">
            <button mat-button class="fail" *ngIf="!this.form.controls.failure" (click)="promptEditFailure()">
               <mat-icon>thumb_down</mat-icon> mark isolate as failed
            </button>
         </div>
         <div class="menu-item">
            <button mat-button class="unfail" *ngIf="!!this.form.controls.failure" (click)="clearFailure()">
                <mat-icon>thumb_up</mat-icon> mark isolate as not failed
            </button>
         </div>
         <div class="menu-item">
            <button mat-button *ngIf="!!this.form.controls.failure" (click)="promptEditFailure()">
               <mat-icon>edit</mat-icon><mat-icon>thumb_down</mat-icon> edit failure information
            </button>
         </div>
      </mat-menu>

      <button class="hover-link" [matMenuTriggerFor]="actionsMenu">
         <mat-icon>more_vert</mat-icon>
      </button>
   </div>

</form>
