<div class="list" *ngIf="resourceCodes">
   <div *ngFor="let resourceCode of resourceCodes" class="resource">
      <button class="code" mat-button (click)="onCodeClicked(resourceCode)">
         {{resourceCode}}
      </button>
      <div class="expanding-flex-space"></div>
      <button class="close" mat-icon-button (click)="onCloseClicked(resourceCode)">
         <mat-icon>close</mat-icon>
      </button>
   </div>
   <div class="remove-all-row" *ngIf="resourceCodes.size === 0">
      <mat-icon class="up-arrow">arrow_upward</mat-icon> (resource code applied)
      <div class="expanding-flex-space"></div>
      <button class="remove" mat-icon-button (click)="onRemoveAll()">
         <mat-icon>close</mat-icon>
      </button>
   </div>
</div>
