@import '../../../styles';

.list {
   display: flex;
   flex-flow: column nowrap;
   align-items: flex-start;

   .resource {
      display: flex;
      flex-flow: row nowrap;
      width: 100%;
      margin: 2px;

      .code {
         flex-grow: 1;
         width: 95%;
         background-color: $batch-resource-background-color;
         color: $batch-resource-text-color;
      }

      .close {
         margin-right: -10px;
      }
   }

   .remove-all-row {
      display: flex;
      align-items: center;

      .up-arrow {
         margin-right: 5px;
      }

      .remove {
         margin-left: 7px;
      }
   }
}
