<form [formGroup]="testDataForm" (ngSubmit)="saveTestData()">

   <div class="sample-op-test-info">

      <app-sample [sample]="sampleOpTest.sampleOp"></app-sample>

      <div class="test-type">{{sampleOpTest.testMetadata.testTypeShortName}}</div>

      <button mat-button type="submit">Save</button>

   </div>

   <mat-horizontal-stepper [selectedIndex]="initialStageIndex" #testStageStepper>

      <mat-step label="PREP">
         <app-stage-prep class="test-stage"
            [form]="testDataForm.get('prepData')"
            [conflicts]="conflictsTestData.prepData"
            [conflictsWhoWhen]="conflictsEmployeeTimestamp"
            [showUnsetAffordances]="showUnsetAffordances">
         </app-stage-prep>
      </mat-step>

      <mat-step label="PRE-ENR">
         <app-stage-pre-enr class="test-stage"
            [form]="testDataForm.get('preEnrData')"
            [balances]="balances"
            [incubators]="incubators"
            [samplingMethodChoices]="testConfig.samplingMethodChoices"
            (sampleTestUnitsChange)="onSampleTestUnitsChanged($event)"
            [conflicts]="conflictsTestData.preEnrData"
            [conflictsWhoWhen]="conflictsEmployeeTimestamp"
            [showUnsetAffordances]="showUnsetAffordances">
         </app-stage-pre-enr>
      </mat-step>

      <mat-step label="SEL-ENR">
         <app-stage-sel-enr class="test-stage"
            [form]="testDataForm.get('selEnrData')"
            [spiking]="testDataForm.get('preEnrData')?.get('sampleSpike')?.value"
            [waterBaths]="waterBaths"
            [conflicts]="conflictsTestData.selEnrData"
            [conflictsWhoWhen]="conflictsEmployeeTimestamp"
            [showUnsetAffordances]="showUnsetAffordances">
         </app-stage-sel-enr>
      </mat-step>

      <mat-step label="M-BROTH">
         <app-stage-m-broth class="test-stage"
            [form]="testDataForm.get('mBrothData')"
            [waterBaths]="waterBaths"
            [conflicts]="conflictsTestData.mBrothData"
            [conflictsWhoWhen]="conflictsEmployeeTimestamp"
            [showUnsetAffordances]="showUnsetAffordances">
         </app-stage-m-broth>
      </mat-step>

      <mat-step label="VIDAS">
         <app-stage-vidas class="test-stage"
            [form]="testDataForm.get('vidasData')"
            [testId]="sampleOpTest.testMetadata.testId"
            [attachedFilesByTestPart]="attachedFilesByTestPart"
            [vidasInstruments]="vidasInstruments"
            [sampleTestUnitsCount]="sampleTestUnitsCount"
            [sampleTestUnitsType]="sampleTestUnitsType"
            [spiking]="testDataForm.get('preEnrData')?.get('sampleSpike')?.value"
            [conflicts]="conflictsTestData.vidasData"
            [conflictsWhoWhen]="conflictsEmployeeTimestamp"
            [showUnsetAffordances]="showUnsetAffordances"
            (positiveSampleTestUnitNumbersChange)="onVidasPositiveSampleTestUnitNumbersChanged($event)">
         </app-stage-vidas>
      </mat-step>

      <mat-step label="SLANT">
         <app-pos-cont #slantPosContComp class="test-stage"
            [form]="testDataForm.get('posContData')"
            [testId]="sampleOpTest.testMetadata.testId"
            [stage]="'SLANT'"
            [attachedFilesByTestPart]="attachedFilesByTestPart"
            [vidasPositiveSampleTestUnitNumbers]="vidasPositiveSampleTestUnitNumbers"
            [sampleTestUnitsType]="sampleTestUnitsType"
            [testConfig]="testConfig"
            [appUser]="appUser"
            [conflicts]="conflictsTestData.posContData"
            [conflictsWhoWhen]="conflictsEmployeeTimestamp"
            [showUnsetAffordances]="showUnsetAffordances">
         </app-pos-cont>
      </mat-step>

      <mat-step label="IDENT">
         <app-pos-cont #identPosContComp class="test-stage"
            [form]="testDataForm.get('posContData')"
            [testId]="sampleOpTest.testMetadata.testId"
            [stage]="'IDENT'"
            [attachedFilesByTestPart]="attachedFilesByTestPart"
            [vidasPositiveSampleTestUnitNumbers]="vidasPositiveSampleTestUnitNumbers"
            [sampleTestUnitsType]="sampleTestUnitsType"
            [testConfig]="testConfig"
            [appUser]="appUser"
            [conflicts]="conflictsTestData.posContData"
            [conflictsWhoWhen]="conflictsEmployeeTimestamp"
            [showUnsetAffordances]="showUnsetAffordances">
         </app-pos-cont>
      </mat-step>

      <mat-step label="WRAPUP">
         <app-stage-wrapup class="test-stage"
            [form]="testDataForm.get('wrapupData')"
            [conflicts]="conflictsTestData.wrapupData"
            [conflictsWhoWhen]="conflictsEmployeeTimestamp"
            [showUnsetAffordances]="showUnsetAffordances">
         </app-stage-wrapup>
      </mat-step>

   </mat-horizontal-stepper>

   <div class="form-bottom-toolbar">
      <a href="https://www.fda.gov/Food/FoodScienceResearch/LaboratoryMethods/ucm070149.htm" target="_blank">BAM</a>
      <div class="expanding-flex-space"></div>
      <div>
         <mat-menu #optionsMenu="matMenu">
            <button type="button" mat-menu-item
                    (click)="toggleShowUnsetAffordances()">
               Toggle showing 'unset' option for supporting fields
            </button>
            <mat-divider></mat-divider>
            <button type="button" mat-menu-item (click)="promptSaveTestDataToFile()">
               <mat-icon class="compound-icon-left">save</mat-icon>
               <mat-icon>arrow_back</mat-icon>
               Save test data to file
            </button>
            <input type="file" #restoreFilesInput style="display:none"
                   (change)="restoreTestDataFromSaveFile($event.target.files)">
            <button type="button" mat-menu-item (click)="restoreFilesInput.click()">
               <mat-icon class="compound-icon-left">save</mat-icon>
               <mat-icon>arrow_forward</mat-icon>
               Restore test data from file
            </button>
            <mat-divider></mat-divider>
         </mat-menu>
         <button mat-button type="button" [matMenuTriggerFor]="optionsMenu">
            <mat-icon>settings</mat-icon>
         </button>
      </div>
      <button mat-button type="submit" color="primary">Save</button>
   </div>

</form>
