<form [formGroup]="testDataForm" (ngSubmit)="onFormSubmit()">

   <div class="sample-in-test-information">

      <app-sample [sample]="sampleInTest.sample"></app-sample>

      <div class="test-type">{{sampleInTest.testMetadata.testTypeShortName}}</div>

      <button mat-button type="submit">Save</button>

   </div>

   <mat-horizontal-stepper [selectedIndex]="stageIndex" #testStageStepper>

      <mat-step label="PREP">
         <app-stage-prep class="test-stage"
            [form]="testDataForm.get('prepData')"
            [conflicts]="conflictsTestData.prepData"
            [conflictsWhoWhen]="conflictsEmployeeTimestamp"
            [showUnsetAffordances]="showUnsetAffordances">
         </app-stage-prep>
      </mat-step>

      <mat-step label="PRE-ENR">
         <app-stage-pre-enr class="test-stage"
            [form]="testDataForm.get('preEnrData')"
            [balances]="balances"
            [incubators]="incubators"
            [samplingMethodChoices]="testConfig.samplingMethodChoices"
            (sampleTestUnitsChange)="onSampleTestUnitsChanged($event)"
            [conflicts]="conflictsTestData.preEnrData"
            [conflictsWhoWhen]="conflictsEmployeeTimestamp"
            [showUnsetAffordances]="showUnsetAffordances">
         </app-stage-pre-enr>
      </mat-step>

      <mat-step label="SEL-ENR">
         <app-stage-sel-enr class="test-stage"
            [form]="testDataForm.get('selEnrData')"
            [spiking]="testDataForm.get('preEnrData')?.get('sampleSpike')?.value"
            [waterBaths]="waterBaths"
            [conflicts]="conflictsTestData.selEnrData"
            [conflictsWhoWhen]="conflictsEmployeeTimestamp"
            [showUnsetAffordances]="showUnsetAffordances">
         </app-stage-sel-enr>
      </mat-step>

      <mat-step label="M-BROTH">
         <app-stage-m-broth class="test-stage"
            [form]="testDataForm.get('mBrothData')"
            [waterBaths]="waterBaths"
            [conflicts]="conflictsTestData.mBrothData"
            [conflictsWhoWhen]="conflictsEmployeeTimestamp"
            [showUnsetAffordances]="showUnsetAffordances">
         </app-stage-m-broth>
      </mat-step>

      <mat-step label="VIDAS">
         <app-stage-vidas class="test-stage"
            [form]="testDataForm.get('vidasData')"
            [testId]="sampleInTest.testMetadata.testId"
            [attachedFilesByTestPart]="attachedFilesByTestPart"
            [vidasInstruments]="vidasInstruments"
            [sampleTestUnitsCount]="sampleTestUnitsCount"
            [sampleTestUnitsType]="sampleTestUnitsType"
            [spiking]="testDataForm.get('preEnrData')?.get('sampleSpike')?.value"
            [conflicts]="conflictsTestData.vidasData"
            [conflictsWhoWhen]="conflictsEmployeeTimestamp"
            [showUnsetAffordances]="showUnsetAffordances"
            (positiveSampleTestUnitNumbersChange)="onVidasPositiveSampleTestUnitNumbersChanged($event)">
         </app-stage-vidas>
      </mat-step>

      <mat-step label="CONTROLS">
         <app-stage-controls class="test-stage"
            [form]="testDataForm.get('controlsData')"
            [conflicts]="conflictsTestData.controlsData"
            [conflictsWhoWhen]="conflictsEmployeeTimestamp"
            [showUnsetAffordances]="showUnsetAffordances">
         </app-stage-controls>
      </mat-step>

      <mat-step label="SLANT">
         <app-pos-cont class="test-stage"
            [stage]="'SLANT'"
            [form]="testDataForm.get('posContData')"
            [vidasPositiveSampleTestUnitNumbers]="vidasPositiveSampleTestUnitNumbers"
            [sampleTestUnitsType]="sampleTestUnitsType"
            [testConfig]="testConfig"
            [appUser]="appUser"
            [conflicts]="conflictsTestData.posContData"
            [conflictsWhoWhen]="conflictsEmployeeTimestamp"
            [showUnsetAffordances]="showUnsetAffordances">
         </app-pos-cont>
      </mat-step>

      <mat-step label="IDENT">
         <app-pos-cont class="test-stage"
            [stage]="'IDENT'"
            [form]="testDataForm.get('posContData')"
            [vidasPositiveSampleTestUnitNumbers]="vidasPositiveSampleTestUnitNumbers"
            [sampleTestUnitsType]="sampleTestUnitsType"
            [testConfig]="testConfig"
            [appUser]="appUser"
            [conflicts]="conflictsTestData.posContData"
            [conflictsWhoWhen]="conflictsEmployeeTimestamp"
            [showUnsetAffordances]="showUnsetAffordances">
         </app-pos-cont>
      </mat-step>

      <mat-step label="WRAPUP">
         <app-stage-wrapup class="test-stage"
            [form]="testDataForm.get('wrapupData')"
            [conflicts]="conflictsTestData.wrapupData"
            [conflictsWhoWhen]="conflictsEmployeeTimestamp"
            [showUnsetAffordances]="showUnsetAffordances">
         </app-stage-wrapup>
      </mat-step>

   </mat-horizontal-stepper>

   <div class="form-bottom-toolbar">
      <a href="https://www.fda.gov/Food/FoodScienceResearch/LaboratoryMethods/ucm070149.htm" target="_blank">BAM</a>
      <div class="expanding-flex-space"></div>
      <div>
         <mat-menu #optionsMenu="matMenu">
            <button type="button" mat-menu-item  (click)="toggleShowUnsetAffordances()">Toggle showing 'unset' option for supporting fields</button>
         </mat-menu>
         <button mat-button type="button" [matMenuTriggerFor]="optionsMenu">
            Options <mat-icon>more_vert</mat-icon>
         </button>
      </div>
      <button mat-button type="submit" color="primary">Save</button>
   </div>

</form>
